{% extends "bootstrap.html" %}


{% block content %}

<!--<h2>{{ header_title }}</h2>-->


<a href="{{ session['url_wa_list'] }}" class="btn btn-primary">Go to genetic samples</a>&nbsp;


<br>
<br>

<h3>WA code: <b>{{ data["wa_code"] }}</b><br>
Locus: <b>{{ data["locus"] }}</b><br>
Allele: <b>{{ data["allele"] }}</b><br>
value: <b>{{ data["value"] }}</b></h3>


<p style="margin-bottom:2em;"><h4>Allele's notes</h4></p>

{% if notes %}
<table class="table table-striped">
<th>Timestamp</th>
<!--<th>Value</th>-->
<th>Note</th>
<th>User</th>
</thead>
{% for note in notes %}
<tr>
<td>{{ note['timestamp'] }}</td>
<td>{{ note['note'] }}</td>
<td>{{ note['user_id'] }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No notes were found
{% endif %}

<br><br>

<h4>Insert a new note</h4>

<form method="POST" action="/locus_note/{{ data['wa_code'] }}/{{ data['locus'] }}/{{ data['allele'] }}">

Note<br>
<textarea  id="new_note" name="new_note" value="" rows="4" cols="50"></textarea><br>

<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>


{#
<table class="table table-striped">
<thead>
<th>Timestamp</th>
<th>Value</th>
<th>Notes</th>
<th>User</th>
</thead>
{% for row in history %}

<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['val'] }}</td>
<td>{{ row['notes'] }}</td>
<td>{{ row['user_id'] }}</td>
</tr>

{% endfor %}
</table>
#}

{% endblock %}