{% extends "bootstrap.html" %}


{% block content %}



<a href="{{ session['url_genotypes_list'] }}" class="btn btn-primary">Go to genotypes list</a>
<br><br>

<h3>Genotype ID: <b>{{ data["genotype_id"] }}</b></h3>


<form method="POST" action="/genotype_note/{{ data['genotype_id'] }}">

Notes:<br>
<textarea  id="working_notes" name="working_notes" value="" rows="4" cols="50">{{ data["working_notes"] }}</textarea><br>
<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>

{% endblock %}