{% extends "bootstrap.html" %}


{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/genetic_samples" class="btn btn-primary">Genetic samples</a>&nbsp;
<a href="/view_genetic_data/{{ wa_code }}" class="btn btn-primary">View {{ wa_code  }}</a>&nbsp;

<br>
<br>

<h2>WA code: <b>{{wa_code}}</b></h2>



{% if mode != "view" %}
<form method="POST" action="/add_genetic_data/{{ wa_code }}">
{% endif %}
<table class="table table-striped">
<tr>

<th>Locus</th>
<th>Allele a</th>
<th>Notes</th>
<th>Allele b</th>
<th>Notes</th>

<th>History</th>

</tr>
{% for locus in loci %}
<tr>
<td>

{{ locus['name'] }}

</td>

<td><input type="TEXT" id="{{ locus['name'] }}_a" name="{{ locus['name'] }}_a" value=""><br>
<small>Current value: <b>{{ loci_values[locus['name']]['a']['value'] }}</b></small>
{% if loci_values[locus['name']]['a']['notes'] %}<br><small>Notes:</small>{% endif %}
<span style="background: #f35151"><small><b>{{ loci_values[locus['name']]['a']['notes'] }}</b></small></span>


</td>

<td><input type="TEXT" id="{{ locus['name'] }}_a_notes" name="{{ locus['name'] }}_a_notes" value=""><br>
</td>

{% if locus['n_alleles'] == 2 %}
<td><input type="TEXT" id="{{ locus['name'] }}_b" name="{{ locus['name'] }}_b" value=""><br>

<small>Current value: <b>{{ loci_values[locus['name']]['b']['value'] }}</b></small>

{% if loci_values[locus['name']]['b']['notes'] %}<br><small>Notes:</small>{% endif %}
<span style="background: #f35151"><small><b>{{ loci_values[locus['name']]['b']['notes'] }}</b></small></span>



</td>

<td><input type="TEXT" id="{{ locus['name'] }}_b_notes" name="{{ locus['name'] }}_b_notes" value=""><br>

</td>
{% else %}
<td></td>
<td></td>
{% endif %}

<td><a class="btn btn-sm btn-primary" href="/view_genetic_data_history/{{ wa_code }}/{{ locus['name'] }}">view</a></td>

</tr>
{% endfor %}

</table>

<button type="submit" class="btn btn-primary" >Submit</button>

</form>

{% endblock %}