{% extends "bootstrap.html" %}


{% block content %}




<a href="{{ return_url }}" class="btn btn-primary">Go back</a>&nbsp;


<br>
<br>

<h3>WA code: <b>{{ data["wa_code"] }}</b><br>
Locus: <b>{{ data["locus"] }}</b><br>
Allele: <b>{{ data["allele"] }}</b><br>
value: <b>{{ data["value"] }}</b></h3>


<form method="POST" action="/locus_note/{{ data["wa_code"] }}/{{ data["locus"] }}/{{ data["allele"] }}/{{ data["timestamp"] }}">

Note:<br>
<textarea  id="notes" name="notes" value="" rows="4" cols="50">{{ data["notes"] }}</textarea><br>

{% if data["user_id"] %}Note inserted by <b>{{data["user_id"]}}</b><br>{% endif %}

<br>
<button type="submit" class="btn btn-primary" >Submit</button>

<input type="hidden" name="return_url" value="{{ return_url }}">
</form>

{% endblock %}