{% extends "bootstrap.html" %}


{% block content %}

<!--<h2>{{ header_title }}</h2>-->


{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}


<a href="{{ session['url_genotypes_list'] }}" class="btn btn-primary">Go to genotypes list</a>

<br>
<br>

<h3>Genotype ID: <b>{{ data["genotype_id"] }}</b><br>
Locus: <b>{{ data["locus"] }}</b><br>
Allele: <b>{{ data["allele"] }}</b><br>
Current value: <b>{{ data["value"] }}</b></h3>
Working notes:<br>
{{ data["working_notes"] }}

<hr>

<p style="margin-bottom:2em;"><h3>Allele history</h3></p>

<table class="table table-striped">
<thead>
<th>Timestamp</th>
<th>Value</th>
<th>Notes</th>
<th>User</th>
</thead>
{% for row in values_history %}
<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['val'] }}</td>
<td>{{ row['notes'] }}</td>
<td>{{ row['user_id'] }}</td>
</tr>


{% endfor %}
</table>

<!--
<table class="table table-striped">
    <thead>
    <th>Timestamp</th>
    <th>Note</th>
    <th>User</th>
    </thead>
{% for row in notes_history %}
<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['note'] }}</td>
<td>{{ row['user_id'] }}</td>
</tr>

{% endfor %}
</table>
-->


<hr>
<h4>Insert a new value</h4>

<form method="POST" action="/genotype_locus_note/{{ data['genotype_id'] }}/{{ data['locus'] }}/{{ data['allele'] }}">

    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="new_value" class="col-form-label">New allele value</label>
        </div>
        <div class="col-auto">
          <input type="text" id="new_value" name="new_value" class="form-control" aria-describedby="help" value="{{ data['value'] }}">
        </div>
        <div class="col-auto">
          <span id="help" class="form-text">
            Must be numeric or -
          </span>
        </div>
      </div>


<div class="mb-3">
    <label for="notes" class="form-label">Note</label>
    <textarea class="form-control" id="notes"  name="notes" rows="3"></textarea>
    <div id="passwordHelpBlock" class="form-text">
        Optional
      </div>
    
</div>
<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>





{% endblock %}