{% extends "bootstrap.html" %}


{% block content %}

<!--<h2>{{ header_title }}</h2>-->

<a href="{{ session['url_genotypes_list'] }}" class="btn btn-primary">Go to genotypes list</a>

<br>
<br>

<h3>Genotype ID: <b>{{ data["genotype_id"] }}</b><br>
Locus: <b>{{ data["locus"] }}</b><br>
Allele: <b>{{ data["allele"] }}</b><br>
Current value: <b>{{ data["value"] }}</b></h3>
Working notes:<br>
{{ data["working_notes"] }}

<hr>

<p style="margin-bottom:2em;"><h3>Allele history</h3></p>

<table class="table table-striped">
<thead>
<th>Timestamp</th>
<th>Value</th>
<th>Notes</th>
<th>User</th>
</thead>
{% for row in history %}

<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['val'] }}</td>
<td>{{ row['notes'] }}</td>
<td>{{ row['user_id'] }}</td>
</tr>

{% endfor %}
</table>
<hr>
<h4>Insert a new note</h4>

<form method="POST" action="/genotype_locus_note/{{ data['genotype_id'] }}/{{ data['locus'] }}/{{ data['allele'] }}/{{ data['timestamp'] }}/{{ search_term }}">

Note<br>
<textarea  id="notes" name="notes" value="" rows="4" cols="50"></textarea><br>

<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>





{% endblock %}