{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<br>
<br>

{% if results %}
<h2>List of WA codes</h2>
<table class="table table-striped">
<tr>
<th></th>
<th>Scat ID</th>
<th>Date</th>
<th>WA code</th>
<th>Genotype ID</th>
<th>Deposition</th>
<th>Matrix</th>
<th>Collected scat</th>
<th>scalp_category</th>
<th>Genetic sample</th>

</tr>
{% for result in results %}

<tr>
<td>
    <a href="/add_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Add genetic data</a>&nbsp;
</td>

<td><a href="/view_scat/{{ result['scat_id'] }}">{{ result['scat_id'] }}</a></td>

    <td>{{ result['date'] }}</td>

    <td>
        <!--<a href="/view_wa_code/{{ result['wa_code'] }}">{{ result['wa_code'] }}</a>-->
        {{ result['wa_code'] }}
    </td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>


    <td>{{ result['deposition'] }}</td>
    <td>{{ result['matrix'] }}</td>
    <td>{{ result['collected_scat'] }}</td>
    <td>{{ result['scalp_category'] }}</td>
    <td>
        {% if result['genetic_sample'] %}{{ result['genetic_sample'] }}{% endif %}
    </td>




</tr>
{% endfor %}
</table>
{% else %}

<h2>No genetic samples found</h2>

{% endif %}



</div>

</main>







