{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<br>
<br>

{% if results %}
<h2>List of {{ n_wa }} WA codes</h2>
<table class="table table-striped">
<tr>
<th></th>
<th>WA code</th>
<th>Sample ID</th>
<th>Genotype ID</th>
<th>Genetic sample</th>

</tr>
{% for result in results %}

<tr>
<td>
    <a href="/view_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Genetic data</a>&nbsp;
</td>


<td>
    <a href="/view_wa/{{ result['wa_code'] }}">{{ result['wa_code'] }}</a>
</td>


<td><a href="/view_scat/{{ result['scat_id'] }}">{{ result['scat_id'] }}</a></td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>


    <td>
        {% if result['genetic_sample'] %}{{ result['genetic_sample'] }}{% else %}No{% endif %}
    </td>

</tr>
{% endfor %}


</table>
{% else %}

<h2>No WA code found</h2>

{% endif %}



</div>

</main>







