{% extends "bootstrap.html" %}


{% block content %}


<h1>WolfDB - Genotypes</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>


<br>
<br>
<a href="/genotypes_list/all_short" class="btn btn-primary">List of all genotypes</a>


<br>
<br>
<a href="/genotypes_list/definitive_short" class="btn btn-primary">List of definitive genotypes</a>


<br>
<br>
<a href="/genotypes_list/temp_short" class="btn btn-primary">List of temporary genotypes</a>


<br><br>

<h2>Genotypes with genetic data</h2>

<a href="/genotypes_list/all" class="btn btn-primary">List of all genotypes</a>


<br>
<br>
<a href="/genotypes_list/definitive" class="btn btn-primary">List of definitive genotypes</a>


<br>
<br>
<a href="/genotypes_list/temp" class="btn btn-primary">List of temporary genotypes</a>


{% endblock %}


