{% extends "bootstrap_simple.html" %}


{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;
<a href="/genotypes" class="btn btn-primary">Genotypes</a>&nbsp;

<a href="/genotypes_list/all" class="btn btn-primary">All</a>&nbsp;

<a href="/genotypes_list/definitive" class="btn btn-primary">Definitive</a>&nbsp;

<a href="/genotypes_list/temp" class="btn btn-primary">Temporary</a>&nbsp;

<br>
<br>

{% if results %}
<h2>{{ title }}</h2>


<br><a href="/genotypes_list/{{type }}/export" class="btn btn-info">Export data</a><br>
<br>

<style>th {top:0;position:sticky;}</style>

<table class="table table-striped">
<tr>
<th style="background-color: white;"></th>
<th style="background-color: white;">Genotype ID</th>
<th style="background-color: white;">Other ID</th>
<th style="background-color: white;">Date</th>
<th style="background-color: white;">Pack</th>
<th style="background-color: white;">Sex</th>
<th style="background-color: white;">Age first capture</th>
<th style="background-color: white;">status first capture</th>
<th style="background-color: white;">dispersal</th>
<th style="background-color: white;">n recaptures</th>
<th style="background-color: white;">dead recovery</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th style="background-color: white; border-left: 1px solid black;">{{ locus }} a</th>
<th style="background-color: white;">{{ locus }} b</th>
{% else %}
<th style="background-color: white; border-left: 1px solid black;">{{ locus }}</th>
<th style="background-color: white;"></th>
{% endif %}

{% endfor %}

</tr>
{% for result in results %}

<tr>

<td>
<a href="/set_status/{{ result['genotype_id'] }}" class="btn btn-sm btn-outline-primary text-nowrap">Set status</a>
<a href="/set_pack/{{ result['genotype_id'] }}" class="btn btn-sm btn-outline-primary text-nowrap ">Set pack</a><br>
{% if result["working_notes"] %}
<a class="btn btn-sm btn-outline-danger" href="/genotype_note/{{ result['genotype_id'] }}">notes</a>
{% else %}
<a class="btn btn-sm btn-outline-primary" href="/genotype_note/{{ result['genotype_id'] }}">notes</a>
{% endif %}
</td>

<td><a href="/view_genotype/{{ result['genotype_id'] }}" >{{ result['genotype_id'] }}</a></td>

<td><a href="/view_genotype/{{ result['tmp_id'] }}" >{{ result['tmp_id'] }}</a></td>

<td>
    {% if result['date'] %}{{ result['date'] }}{% endif %}
</td>


<td>
    {% if result['pack'] %}{{ result['pack'] }}{% endif %}
</td>

<td>
    {% if result['sex'] %}{{ result['sex'] }}{% endif %}
</td>

<td>
    {% if result['age_first_capture'] %}{{ result['age_first_capture'] }}{% endif %}
</td>

<td>

    {{ result['status_first_capture'] if result['status_first_capture'] is not none else ""}}

</td>


<td>
    {% if result['dispersal'] %}{{ result['dispersal'] }}{% endif %}

</td>

    <td>
        {% if result['n_recaptures'] %}{{ result['n_recaptures'] }}{% endif %}
    </td>

    <td>
        {% if result['dead_recovery'] %}{{ result['dead_recovery'] }}{% endif %}
    </td>



    {% for locus in loci_values[result['genotype_id']] %}

<td  style="border-left: 1px solid black;">


{% if loci_values[result['genotype_id']][locus]['a']['notes'] %}
<span style="background: red">
{% endif %}


{{ loci_values[result['genotype_id']][locus]['a']['value'] }}


{% if loci_values[result['genotype_id']][locus]['a']['notes'] %}
</span>
{% endif %}

<br>
<small>
<a href="/genotype_locus_note/{{ result['genotype_id']}}/{{ locus }}/a/{{ loci_values[result['genotype_id']][locus]['a']['epoch'] }}">note</a>
</small>

</td>

<td>

{% if loci_values[result['genotype_id']][locus]['b']['notes'] %}
<span style="background: red">
{% endif %}

{{ loci_values[result['genotype_id']][locus]['b']['value'] }}

{% if loci_values[result['genotype_id']][locus]['b']['notes'] %}
</span>
{% endif %}

<br>
<small>
<a href="/genotype_locus_note/{{ result['genotype_id']}}/{{ locus }}/b/{{ loci_values[result['genotype_id']][locus]['b']['epoch'] }}">note</a>
</small>

</td>

{% endfor %}






</tr>
{% endfor %}


</table>
{% else %}

<h2>No genotypes found</h2>

{% endif %}


{% endblock %}



