{% extends "bootstrap.html" %}

{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/genotypes" class="btn btn-primary">Genotpyes</a>

<br><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<strong>{{ message }}</strong><br>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}


<h2>Load definitive genotypes from file</h2>


<form id="upload_file" action="/load_definitive_genotypes_xlsx"  method="POST" enctype="multipart/form-data">
    <br>

  <div class="form-group">
   <label for="new_file"><b>Select the Excel file (XLSX) or the OpenDocument (ODS) file</b></label><br>
   <br>
  <input type="file" id="new_file" placeholder="" name="new_file" >
  </div>
  <br>
  <button type="submit" class="btn btn-lg btn-danger" id="upload-file-btn" type="button">Upload file</button>

  </form>

<hr>

<h3>Templates</h3>

<a href="/static/new_genotypes_template.ots">Download ODS Spreadsheet template (OTS)</a><br>
<br>
<a href="/static/new_genotypes_template.xltx">Download Excel 2007-365 Spreadsheet template (XLTX)</a>

{% endblock %}

