{% extends "bootstrap_simple.html" %}


{% block content %}




{% if distance != 0 %}

<a href="/plot_wa_clusters/{{ distance }}" class="btn btn-primary">Plot WA clusters ({{ distance }} m)</a>&nbsp;

<a href="/plot_wa_clusters/{{ distance - 500 }}" class="btn btn-primary">Plot WA clusters ({{ distance - 500 }} m)</a>&nbsp;

<a href="/plot_wa_clusters/{{ distance + 500 }}" class="btn btn-primary">Plot WA clusters ({{ distance + 500 }} m)</a>&nbsp;

{% else %}

<a href="/plot_wa_clusters/2500" class="btn btn-primary">Plot WA clusters (2500 m)</a>&nbsp;

{% endif %}

<br><br>

{% if session['start_year'] and session['end_year'] %}Analysis date interval: <strong>{{ session['start_year']}}</strong> - <strong>{{session['end_year']}}</strong><br><br>{% endif %}

{{ title }}

<style>
#map {
position: relative;
height: 1000px;
width: 100%;
}
</style>

<div class="col-md-12"><div id="map" ></div></div>

{{ map }}



{% endblock %}






