{% extends "bootstrap.html" %}


{% block content %}


<h1>WolfDB - Set hybrid</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="{{ return_url }}" class="btn btn-primary">Go back</a>&nbsp;


<br>
<br>

<h3>Genotype ID: <b>{{ genotype_id }}</b></h3>


<form method="POST" action="/set_hybrid/{{ genotype_id }}">

Current hybrid:<br>

<input type="text"  id="hybrid" name="hybrid" value="{{ current_hybrid }}"><br>

<br>
<button type="submit" class="btn btn-danger" >Submit</button>

<input type="hidden" name="return_url" value="{{ return_url }}">
</form>

{% endblock %}