{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/genetic_samples" class="btn btn-primary">Genetic samples</a>&nbsp;
<a href="/view_genetic_data/{{ wa_code }}" class="btn btn-primary">View {{ wa_code  }}</a>&nbsp;

<br>
<br>

<h2>WA code: <b>{{wa_code}}</b></h2>

<h3>History of <b>{{ locus }}</b> values</h3>

<table class="table table-striped">
<tr>
<th></th>
<th></th>
<th>Date</th>
<th>Notes</th>
</tr>
{% for result in results %}

<tr>
<td>{{ result["value1"]}}</td>
<td>{{ result["value2"]}}</td>
<td>{{ result["timestamp"]}}</td>
<td>{{ result["notes"]}}</td>
</tr>

{% endfor %}

</table>