{% extends "bootstrap.html" %}

{% block content %}



<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/genetic_samples" class="btn btn-primary">Genetic samples</a>&nbsp;
<a href="/view_genetic_data/{{ wa_code }}" class="btn btn-primary">View {{ wa_code  }}</a>&nbsp;

<br>
<br>

<h2>WA code: <b>{{wa_code}}</b></h2>
<br>
<h3>History of <b>{{ locus }}</b> locus values</h3>

<table class="table table-striped">
<tr>
<th>Allele</th>
<th>Value</th>
<th>Date</th>
<th>Notes</th>
<th>User</th>
</tr>

{% for row in locus_values %}
<tr>
<td>{{ row["allele"] }}</td>
<td>{{ row["val"]  if row["val"] is not none else "-"}}</td>
<td>{{ row["formatted_timestamp"]  if row["formatted_timestamp"] is not none else ""}}</td>
<td>{{ row["notes"] if row["notes"] is not none else ""}}</td>
<td>{{ row["user_id"] if row["user_id"] is not none else ""}}</td>
</tr>

{% endfor %}

</table>

{% endblock %}