{% extends "bootstrap.html" %}

{% block content %}


<h2>View genetic data</h2><hr>

<a href="{{ session['url_wa_list'] }}" class="btn btn-primary">Go to genetic samples</a>

<a href="/add_genetic_data/{{wa_code}}" class="btn btn-danger">Add genetic data</a>&nbsp;
<br>
<br>

<h3>WA code: <b>{{wa_code}}</b></h3>

<span style="font-size: larger;">Genotype id: <b>{{ genotype_id }}</b><br>Sex: <b>{{ sex }}</b></span>
<br>
<br>


<table class="table table-striped">
    <tr>
        <th>Locus</th>
        <th>Allele a</th>
        <th>Date</th>
        <th>Notes</th>
        <th>User</th>
        <th></th>
        <th>Allele b</th>
        <th>Date</th>
        <th>Notes</th>
        <th>User</th>
        <th style="background: #eeeeee">&nbsp;</th>
        <th>History</th>
    </tr>
    {% for locus in loci_list %}
    <tr>
        <td>{{ locus }}</td>

{% for allele in ('a', 'b') %}

<td
style="background:{{ data[locus][allele]['bgcolor'] }}">
{{ data[locus][allele]['value'] }}&nbsp;{{ data[locus][allele]['divergent_allele'] }}
</td>

<td><small>{{ data[locus][allele]['date'] }}</small></td>

<td>    
<small>{{ data[locus][allele]['notes'] if data[locus][allele]['notes'] is not none else '' }} </small>
</td>
<td>    
{{ data[locus][allele]['user_id'] }}
</td>

<td style="background: #eeeeee">&nbsp;</td>

{% endfor %}

<td><a class="btn btn-sm btn-primary" href="/view_genetic_data_history/{{ wa_code }}/{{ locus }}">view</a></td>

</tr>
{% endfor %}

</table>

{% endblock %}