{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/genotypes" class="btn btn-primary">Genotypes</a>

<br><br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}

<h2>Genotype ID: {{ result["genotype_id"] }}</h2>

<br>

<table class="table table-striped">
<tr><td>Record status</td><td>{{ result["record_status"] }}</td></tr>
<tr><td>Other ID</td><td>{{ result["tmp_id"] }}</td></tr>
<tr><td>Sex</td><td>{{ result["sex"] }}</td></tr>
<tr><td>Status</td><td>{{ result["status"] if result["status"] is not none else "" }}</td></tr>
<tr><td>Pack</td><td>{% if result["pack"] is not none %}<a href="/view_pack/{{result["pack"] }}">{{ result["pack"] }}{% endif %}</a></td></tr>

<tr><td>Age at first capture</td><td>{{ result["age_first_capture"]  if result["age_first_capture"] is not none else ""}}</td></tr>
<tr><td>Status at first capture</td><td>{{ result["status_first_capture"]  if result["status_first_capture"] is not none else ""}}</td></tr>
<tr><td>Dispersal</td><td>{{ result["dispersal"]  if result["dispersal"] is not none else ""}}</td></tr>
<tr><td>number of recaptures</td><td>{{ n_recap }}</td></tr>
<tr><td>Dead recovery  </td><td>{{ result["dead_recovery"] if result["dead_recovery"] is not none else ""}}</td></tr>

</table>


{% if wa_codes %}

<hr>
<h4>WA codes</h4>

{% for wa_code in wa_codes %}

<a href="/view_wa/{{ wa_code["wa_code"] }}">{{ wa_code["wa_code"] }}</a><br>


{% endfor %}

<hr>
<h2>Localization of WA codes</h2>

<div id="map" style="width: 800px; height: 800px;"></div>


{{ map }}


{% endif %}

{% endblock %}




