{% extends "bootstrap_simple.html" %}

{% block content %}

<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/wa_genetic_samples" class="btn btn-primary">WA genetic samples</a>&nbsp;

<a href="/plot_all_wa" class="btn btn-primary">Plot WA</a>&nbsp;

<a href="/plot_wa_clusters/{{ distance }}" class="btn btn-primary">Plot WA clusters ({{ distance }} m)</a>&nbsp;

<br>
<br>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}


{% if wa_scats %}

{{ title }}


<table class="table table-striped">
<tr>
<th></th>
<th>WA code</th>
<th>Sample ID</th>
<th>Date</th>
<th>Municipality</th>
<th>Coordinates WGS84 UTM zone 32N</th>
<th>mtDNA result</th>
<th>Genotype ID</th>
<th>Sex</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th>{{ locus }} a</th>
<th>{{ locus }} b</th>
{% else %}
<th>{{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}


</tr>
{% for result in wa_scats %}

<tr>
<td>
    <a href="/view_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Genetic data</a>&nbsp;
</td>


<td>
    <a href="/view_wa/{{ result['wa_code'] }}">{{ result['wa_code'] }}</a>
</td>

<td>
    {% if result['sample_id'] %}{{ result['sample_id'] }}{% endif %}
</td>

<td>
    {% if result['date'] %}{{ result['date'] }}{% endif %}
</td>

<td>
    {% if result['municipality'] %}{{ result['municipality'] }}{% endif %}
</td>

<td>

    {{ result['coord_east'] }}, {{ result['coord_north'] }}

</td>


<td>
    {% if result['mtdna'] %}{{ result['mtdna'] }}{% endif %}

</td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>


    <td>
        {% if result['sex_id'] %}{{ result['sex_id'] }}{% endif %}
    </td>









    
{% for locus in loci_values[result['wa_code']] %}

<td style="border-left: 1px solid black;">

{% if loci_values[result['wa_code']][locus]['a']['notes'] %}
<u>
{% endif %}

{{ loci_values[result['wa_code']][locus]['a']['value'] }}<br>

{% if loci_values[result['wa_code']][locus]['a']['notes'] %}
</u>
{% endif %}

<small>
<a href="/locus_note/{{ result['wa_code']}}/{{ locus }}/a/{{ loci_values[result['wa_code']][locus]['a']['epoch'] }}">note</a>
</small>
</td>

<td>

{% if loci_values[result['wa_code']][locus]['b']['notes'] %}
<u>
{% endif %}

{{ loci_values[result['wa_code']][locus]['b']['value'] }}<br>

{% if loci_values[result['wa_code']][locus]['b']['notes'] %}
</u>
{% endif %}

<small>
<a href="/locus_note/{{ result['wa_code']}}/{{ locus }}/b/{{ loci_values[result['wa_code']][locus]['b']['epoch'] }}">note</a>
</small>

</td>

{% endfor %}


</tr>
{% endfor %}





</table>
{% else %}

<h2>No WA code found</h2>

{% endif %}



{% endblock %}

