{% extends "bootstrap_simple.html" %}

{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/wa_genetic_samples" class="btn btn-primary">WA genetic samples</a>&nbsp;

<a href="/plot_all_wa" class="btn btn-primary">Plot WA</a>&nbsp;

<a href="/plot_wa_clusters/{{ distance }}" class="btn btn-primary">Plot WA clusters ({{ distance }} m)</a>&nbsp;

<br>
<br>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}


{% if genotype_id %}

{{ title }}

<br><a href="/wa_analysis_group/export/{{ distance }}/{{ cluster_id }}" class="btn btn-info" target="_blank">Export data</a><br>
<br>

<table class="table table-striped">
<tr>
<th></th>

<th>Genotype ID</th>
<th>Sex</th>
<th>Status</th>
<th>Pack</th>
<th>n. recapt</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th>{{ locus }} a</th>
<th>{{ locus }} b</th>
{% else %}
<th>{{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}


</tr>
{% for genotype_id in data %}

<tr>
<td>
<a href="/set_status/{{ genotype_id }}" class="btn btn-sm btn-outline-primary text-nowrap">Set status</a>
<a href="/set_pack/{{ genotype_id }}" class="btn btn-sm btn-outline-primary text-nowrap ">Set pack</a><br>

{% if data[genotype_id]["working_notes"] %}
<a class="btn btn-sm  btn-outline-danger" href="/genotype_note/{{ genotype_id }}">notes</a>
{% else %}
<a class="btn btn-sm  btn-outline-primary" href="/genotype_note/{{ genotype_id }}">notes</a>
{% endif %}
    

</td>

<td><a href="/view_genotype/{{ genotype_id }}" target="_blank">{{ genotype_id }}</a>
</td>

<td>{{ data[genotype_id]["sex"] }}</td>

<td>{{ data[genotype_id]["position"] if data[genotype_id]["position"] is not none else "" }}</td>

<td>{{ data[genotype_id]["pack"] if data[genotype_id]["pack"] is not none else "" }}</td>

<td>{{ data[genotype_id]["n_recap"] if data[genotype_id]["n_recap"] is not none else "" }}</td>




{% for locus in loci_values[genotype_id] %}

<td  style="border-left: 1px solid black;">


{% if loci_values[genotype_id][locus]['a']['notes'] %}
<span style="background: red">
{% endif %}

{{ loci_values[genotype_id][locus]['a']['value'] }}

{% if loci_values[genotype_id][locus]['a']['notes'] %}
</span>
{% endif %}

<br>
<small>
<a href="/genotype_locus_note/{{ genotype_id}}/{{ locus }}/a/{{ loci_values[genotype_id][locus]['a']['epoch'] }}">note</a>
</small>
</td>


<td>

{% if loci_values[genotype_id][locus]['b']['notes'] %}
<span style="background: red">
{% endif %}

{{ loci_values[genotype_id][locus]['b']['value'] }}

{% if loci_values[genotype_id][locus]['b']['notes'] %}
</span>
{% endif %}

<br>
<small>
<a href="/genotype_locus_note/{{ genotype_id }}/{{ locus }}/b/{{ loci_values[genotype_id][locus]['b']['epoch'] }}">note</a>
</small>
</td>

{% endfor %}



</tr>
{% endfor %}





</table>
{% else %}

<h2>No WA code found</h2>

{% endif %}



{% endblock %}





