

<table class="table table-striped">
<tr>


<th>Genotype ID</th>
<th>Sex</th>
<th>Status</th>
<th>Pack</th>
<th>number of recaptures</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th>{{ locus }} a</th>
<th>{{ locus }} b</th>
{% else %}
<th>{{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}


</tr>
{% for genotype_id in data %}

<tr>

<td>
    {{ genotype_id }}
</td>

<td>
    {{ data[genotype_id]["sex"] }}
</td>

<td>
    {{ data[genotype_id]["position"] if data[genotype_id]["position"] is not none else "" }}
</td>

<td>
    {{ data[genotype_id]["pack"] if data[genotype_id]["pack"] is not none else "" }}
</td>

<td>
    {{ data[genotype_id]["n_recap"] if data[genotype_id]["n_recap"] is not none else "" }}
</td>




{% for locus in loci_values[genotype_id] %}

<td>


{% if loci_values[genotype_id][locus]['a']['notes'] %}
<u>
{% endif %}


{{ loci_values[genotype_id][locus]['a']['value'] }}<br>


<!--
<a href="/genotype_locus_note/{{ genotype_id}}/{{ locus }}/a/{{ loci_values[genotype_id][locus]['a']['epoch'] }}">note</a>
-->
</td>


<td>

{{ loci_values[genotype_id][locus]['b']['value'] }}<br>

<!--

<a href="/genotype_locus_note/{{ genotype_id }}/{{ locus }}/b/{{ loci_values[genotype_id][locus]['b']['epoch'] }}">note</a>
-->
</td>

{% endfor %}



</tr>
{% endfor %}



</table>
