{% extends "bootstrap_simple.html" %}

{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/plot_all_wa" class="btn btn-primary">Plot WA</a>&nbsp;

<a href="/plot_wa_clusters/2500" class="btn btn-primary">Plot WA clusters</a>&nbsp;

<br>
<br>

{% if genotype_id %}

{{ title }}



<table class="table table-striped">
<tr>
<th></th>

<th>Genotype ID</th>
<th>Sex</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th>{{ locus }} a</th>
<th>{{ locus }} b</th>
{% else %}
<th>{{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}


</tr>
{% for result in genotype_id %}

<tr>
<td>

    <a href="" class="btn btn-sm btn-primary">Set status</a>
    <a href="" class="btn btn-sm btn-primary">Set pack</a><br>
</td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>


    <td>
        {% if sex_list[result['genotype_id']] %}{{ sex_list[result['genotype_id']][0] }}{% endif %}
    </td>


{% for locus in loci_values[result['genotype_id']] %}

<td  style="border-left: 1px solid black;">
{{ loci_values[result['genotype_id']][locus]['values'][0] }}<br>
<a href="/locus_note/{{ result['genotype_id']}}/{{ locus }}_a/{{ loci_values[result['genotype_id']][locus]['timestamp'] }}">note</a>
</td>
<td>
{{ loci_values[result['genotype_id']][locus]['values'][1] }}<br>
<a href="/locus_note/{{ result['genotype_id']}}/{{ locus }}_b/{{ loci_values[result['genotype_id']][locus]['timestamp'] }}">note</a>
</td>

{% endfor %}



</tr>
{% endfor %}





</table>
{% else %}

<h2>No WA code found</h2>

{% endif %}



{% endblock %}





