{% extends "bootstrap_simple.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">

{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}

{% if wa_scats %}

{{ title }}

<br>
<a href="/wa_genetic_samples/{{ with_notes }}/export" class="btn btn-info">Export data in XLSX format</a>
<br>
<br>

<style>
th {top: 0; position: sticky; left: 0}
</style>

<div class="condensed">
<table class="table table-striped">
    <tr>
        <th style="background-color: {{ session['background_color'] }};">WA code</th>
        <th style="background-color: {{ session['background_color'] }};">Sample ID</th>
        <th style="background-color: {{ session['background_color'] }};">Date</th>
        <th style="background-color: {{ session['background_color'] }};">Municipality</th>
        <th style="background-color: {{ session['background_color'] }};">Coordinates WGS84 UTM zone 32N</th>
        <th style="background-color: {{ session['background_color'] }};">mtDNA result</th>
        <th style="background-color: {{ session['background_color'] }};">Genotype ID</th>
        <th style="background-color: {{ session['background_color'] }};">Temp ID</th>
        <th style="background-color: {{ session['background_color'] }};">Sex</th>
        <th style="background-color: {{ session['background_color'] }};">Status</th>
        <th style="background-color: {{ session['background_color'] }};">Pack</th>
        <th style="background-color: {{ session['background_color'] }};">Dead recovery</th>
        {% for locus in loci_list %}
        {% if loci_list[locus] == 2%}
        <th style="background-color: {{ session['background_color'] }}; border-left: 1px solid black;">{{ locus }} a</th>
        <th style="background-color: {{ session['background_color'] }};">{{ locus }} b</th>
        {% else %}
        <th style="background-color: {{ session['background_color'] }}; border-left: 1px solid black;">{{ locus }}</th>
        <th style="background-color: {{ session['background_color'] }};"></th>
        {% endif %}

        {% endfor %}

    </tr>
    {% for result in wa_scats %}

    <tr>
        <th>
           <nobr>
            
            
            



                <a href="/view_wa/{{ result['wa_code'] }}"><b>{{ result['wa_code'] }}</b></a>
                <a href="/view_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Genetic data</a>
                <a href="/set_wa_genotype/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Set genotype</a>
        

                {% if locus_notes[result['wa_code']] %}
            <span style='font-size:24px;color:red' >&#128947;</span>
            {% endif %}
            
            </nobr>
    </th>
       

        <td>{% if result['sample_id'] %}<a href="/view_sample/{{ result['sample_id'] }}">{{ result['sample_id'] }}</a>{%
            endif %}</td>

        <td>{% if result['date'] %}{{ result['date'] }}{% endif %}</td>

        <td>{% if result['municipality'] %}{{ result['municipality'] }}{% endif %}</td>

        <td>{{ result['coord_east'] }}, {{ result['coord_north'] }}</td>

        <td>{% if result['mtdna'] %}{{ result['mtdna'] }}{% endif %}</td>

        <td>{% if result['genotype_id'] %}<a href="/view_genotype/{{ result['genotype_id'] }}">{{ result['genotype_id']
                }}</a>{% endif %}
            {% if result['notes'] %}<br><a href="/genotype_note/{{ result['genotype_id'] }}"
                class="btn btn-sm btn-outline-danger">{{ result['notes'] }}</button>{% endif %}
        </td>

        <td>{% if result['tmp_id'] %}{{ result['tmp_id'] }}{% endif %}</td>

        <td>{% if result['sex_id'] %}{{ result['sex_id'] }}{% endif %}</td>

        <td>{% if result['status'] %}{{ result['status'] }}{% endif %}</td>

        <td>{% if result['pack'] %}{{ result['pack'] }}{% endif %}</td>

        <td>{% if result['dead_recovery'] %}{{ result['dead_recovery'] }}{% endif %}</td>

        {% for locus in loci_values[result['wa_code']] %}

        <td
            style="border-left: 1px solid black; {% if 'OK|' in loci_values[result['wa_code']][locus]['a']['user_id'] %}background: #90ee90{%else%}{% if loci_values[result['wa_code']][locus]['a']['notes'] %}background: #FF6461{%endif%}{%endif%}">
            {{ loci_values[result['wa_code']][locus]['a']['value'] }}<br>
            <a
                href="/locus_note/{{ result['wa_code']}}/{{ locus }}/a/{{ loci_values[result['wa_code']][locus]['a']['epoch'] }}">note</a>

        </td>

        <td
            style="{% if 'OK|' in loci_values[result['wa_code']][locus]['b']['user_id'] %}background: #90ee90{%else%}{% if loci_values[result['wa_code']][locus]['b']['notes'] %}background: #FF6461{%endif%}{%endif%}">
            {{ loci_values[result['wa_code']][locus]['b']['value'] }}<br>

            <a
                href="/locus_note/{{ result['wa_code']}}/{{ locus }}/b/{{ loci_values[result['wa_code']][locus]['b']['epoch'] }}">note</a>

        </td>

        {% endfor %}



    </tr>
    {% endfor %}

</table>
</div><!-- condensed -->

{% else %}

<h2>No WA code found</h2>

{% endif %}


{% endblock %}