

<table class="table table-striped">
<tr>

<th>WA code</th>
<th>Sample ID</th>
<th>Date</th>
<th>Municipality</th>
<th>Coordinates WGS84 UTM zone 32N</th>
<th>mtDNA result</th>
<th>Genotype ID</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th>{{ locus }} a</th>
<th>Notes for {{ locus }} a</th>
<th>{{ locus }} b</th>
<th>Notes for {{ locus }} b</th>
{% else %}
<th>{{ locus }}</th>
<th>Notes for {{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}


</tr>
{% for result in wa_scats %}

<tr>



<td>
    {{ result['wa_code'] }}
</td>

<td>
    {% if result['sample_id'] %}{{ result['sample_id'] }}{% endif %}
</td>

<td>
    {% if result['date'] %}{{ result['date'] }}{% endif %}
</td>

<td>
    {% if result['municipality'] %}{{ result['municipality'] }}{% endif %}
</td>

<td>

    {{ result['coord_east'] }}, {{ result['coord_north'] }}

</td>


<td>
    {% if result['mtdna'] %}{{ result['mtdna'] }}{% endif %}

</td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>


{% for locus in loci_values[result['wa_code']] %}

<td>{{ loci_values[result['wa_code']][locus]['a']['value'] }}</td>

<td>{{ loci_values[result['wa_code']][locus]['a']['notes'] }}</td>

<td>{{ loci_values[result['wa_code']][locus]['b']['value'] }}</td>

<td>{{ loci_values[result['wa_code']][locus]['b']['notes'] }}</td>

{% endfor %}


</tr>
{% endfor %}


</table>
