{% extends "bootstrap_simple.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">

{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}


<h3>{{ title }}</h3>
{% if limit == 'ALL' %}
<h4>All WA codes</h4>
{% else %}
<h4>WA codes from {{ offset + 1}} to {{ offset + limit }}</h4>
{% endif %}

{% if wa_scats %}
<span style="display:solid">
{% if limit != 'ALL' %}
<a class="btn btn{% if offset %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/0/{{ limit }}/{{ filter }}">1st page</a>
{% if offset - limit >= 0 %}
<a class="btn btn-outline-secondary btn-sm" href="/wa_genetic_samples/{{ offset - limit }}/{{ limit }}/{{ filter }}">Previous page</a>
{% endif %}
<a class="btn btn-outline-secondary btn-sm" href="/wa_genetic_samples/{{ offset + limit }}/{{ limit }}/{{ filter }}">Next page</a>
{% endif %}

<span style="display:inline-block; width: 8em;"></span>
<small>Sample / page</small>
<a class="btn btn{% if limit != 10 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/10/{{ filter }}">10</a>
<a class="btn btn{% if limit != 20 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/20/{{ filter }}">20</a>
<a class="btn btn{% if limit != 50 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/50/{{ filter }}">50</a>
<a class="btn btn{% if limit != 100 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/100/{{ filter }}">100</a>
<a class="btn btn{% if limit != 200 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/200/{{ filter }}">200</a>
<a class="btn btn{% if limit != 500 %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/{{ offset }}/500/{{ filter }}">500</a>
<a class="btn btn{% if limit != 'ALL' %}-outline{% endif %}-secondary btn-sm" href="/wa_genetic_samples/0/ALL/{{ filter }}">All</a>


<span style="display:inline-block; width: 8em;"></span>

<form style="display:inline" method="POST" action="/wa_genetic_samples/0/ALL/{{ filter }}">
<input  type="search" name="search" placeholder="">
<button type="submit" class="btn btn-secondary btn-sm" >search</button>
</form>
<span style="display:inline-block; width: 8em;"></span>

<a style="width:10%" href="/wa_genetic_samples/0/ALL/{{ filter }}/export" class="btn btn-secondary btn-sm">Export data</a>
</span>



{% include "freeze_1stcolumn_1strow.html" %}

<div class="frozen">
<div class="condensed">
<table class="table table-striped">
<thead>
<tr>
<th>WA code</th>
<th>Sample ID</th>
<th>Date</th>
<th>Municipality</th>
<th>Coordinates WGS84 UTM zone 32N</th>
<th>mtDNA result</th>
<th>Genotype ID</th>
<th>Temp ID</th>
<th>Sex</th>
<th>Status</th>
<th>Pack</th>
<th>Dead recovery</th>
{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th style="border-left: 1px solid black;">{{ locus }} a</th>
<th>{{ locus }} b</th>
{% else %}
<th style="border-left: 1px solid black;">{{ locus }}</th>
<th></th>
{% endif %}

{% endfor %}
</tr>
</thead>

<tbody>
{% for result in wa_scats %}
<tr>
<td style="white-space: nowrap;">
<a id="{{ result['wa_code'] }}"><a href="/view_wa/{{ result['wa_code'] }}"><b>{{ result['wa_code'] }}</b></a></a>
<a href="/view_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Genetic data</a>
<a href="/set_wa_genotype/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Set genotype</a>
{% if locus_notes[result['wa_code']] %}
<span style='font-size:24px;color:red' >&#128681;</span>
{% endif %}

</td>

<td>{% if result['sample_id'] %}<a href="/view_sample/{{ result['sample_id'] }}">{{ result['sample_id'] }}</a>{% endif %}</td>

<td>{% if result['date'] %}{{ result['date'] }}{% endif %}</td>

<td>{% if result['municipality'] %}{{ result['municipality'] }}{% endif %}</td>

<td>{{ result['coord_east'] }}, {{ result['coord_north'] }}</td>

<td>{% if result['mtdna'] %}{{ result['mtdna'] }}{% endif %}</td>

<td>{% if result['genotype_id'] %}<a href="/view_genotype/{{ result['genotype_id'] }}">{{ result['genotype_id']
        }}</a>{% endif %}
    {% if result['notes'] %}<br><a href="/genotype_note/{{ result['genotype_id'] }}"
        class="btn btn-sm btn-outline-danger">{{ result['notes'] }}</button>{% endif %}
</td>

<td>{% if result['tmp_id'] %}{{ result['tmp_id'] }}{% endif %}</td>

<td>{% if result['sex_id'] %}{{ result['sex_id'] }}{% endif %}</td>

<td>{% if result['status'] %}{{ result['status'] }}{% endif %}</td>

<td>{% if result['pack'] %}{{ result['pack'] }}{% endif %}</td>

<td>{% if result['dead_recovery'] %}{{ result['dead_recovery'] }}{% endif %}</td>

        {% for locus in loci_values[result['wa_code']] %}

        <td
            style="border-left: 1px solid black; background: {{ loci_values[result['wa_code']][locus]['a']['color'] }}">
            {{ loci_values[result['wa_code']][locus]['a']['value'] }}<br>
            <a
                href="/locus_note/{{ result['wa_code']}}/{{ locus }}/a/{{ loci_values[result['wa_code']][locus]['a']['epoch'] }}">note</a>

        </td>

        <td
            style="border-left: 1px solid black; background: {{ loci_values[result['wa_code']][locus]['b']['color'] }}">
            {{ loci_values[result['wa_code']][locus]['b']['value'] }}<br>

            <a
                href="/locus_note/{{ result['wa_code']}}/{{ locus }}/b/{{ loci_values[result['wa_code']][locus]['b']['epoch'] }}">note</a>

        </td>

        {% endfor %}



</tr>
{% endfor %}
</tbody>
</table>
</div><!-- condensed -->
</div><!-- frozen -->


{% endif %}


{% endblock %}
