{% extends "bootstrap.html" %}

{% block content %}

<script src="https://unpkg.com/htmx.org@1.6.0"></script>


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/scats" class="btn btn-primary">Scats</a>

<br><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <strong>{{ message }}</strong><br>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}


<h2>Load scats from file</h2>



<form id="upload_file" action="/load_scats_xlsx"  method="POST" enctype="multipart/form-data">
    <br>


  <div class="form-group">
   <label for="new_file">Select the Excel file (XLSX) or the OpenDocument (ODS) file</label><br>
   <br>
  <input type="file" id="new_file" placeholder="" name="new_file" >
  </div>
  <br>
  <button type="submit" class="btn btn-danger" id="upload-file-btn" type="button">Upload file</button>

  </form>

  {% endblock %}

