{% include "header.html" %}


<script>
    function sampling_type_changed(selectObject) {
      if (selectObject.value == "Systematic")
          {
          document.getElementById("systematic").style.display = 'block';
          }
        else
        {
          document.getElementById("systematic").style.display = 'none';
          }

    }
    </script>


<body onload="sampling_type_changed()">

<main class="flex-shrink-0">
<div class="container">


    <h1>WolfDB</h1>
    <hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;
<a href="/scats_list" class="btn btn-primary">Scats</a>&nbsp;

<br><br>

<h2>{{ title }}</h2>
<hr>


{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}



<form method="POST" action="{{ action }}"">


    <div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.scat_id.label }}
    </div><!-- col --><div class="col-8">
    {{ form.scat_id(size=30, class="form-control",  value=default_values["scat_id"]) }}
    {% for message in form.scat_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.sampling_type.label }}
    </div><div class="col-8">
    {{ form.sampling_type(onchange="sampling_type_changed(this)", class="form-control",  value=default_values["sampling_type"]) }}
    {% for message in form.sampling_type.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    </div></div>
</div>








<span id="systematic" style="display: {%  if default_values["sampling_type"] == "Systematic" %}display{% else %}none{% endif %};">

<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.path_id.label }}
    </div><!-- col --><div class="col-8">
    {{ form.path_id(class="form-control") }}
    {% for message in form.path_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.snowtrack_id.label }}
    </div><!-- col --><div class="col-8">
    {{ form.snowtrack_id(class="form-control", value=default_values["snowtrack_id"]) }}
    {% for message in form.snowtrack_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>

</span>


<div class="mb-3">
<div class="row g-3 align-items-top">

    <div class="col-2">{{ form.location.label }}</div>
    <div class="col-3">
    {{ form.location(size=16, class="form-control", value=default_values["location"]) }}
    {% for message in form.location.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>

    <div class="col-1">{{ form.municipality.label }}</div>
    <div class="col-2">
        {{ form.municipality(size=16, class="form-control", value=default_values["municipality"]) }}
        {% for message in form.municipality.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


    <div class="col-1">{{ form.province.label }}</div>
    <div class="col-1">
        {{ form.province(size=16, class="form-control", value=default_values["province"]) }}
        {% for message in form.province.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>
</div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.deposition.label }}
    </div><!-- col --><div class="col-8">
    {{ form.deposition(class="form-control",  value=default_values["deposition"]) }}
    {% for message in form.deposition.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.matrix.label }}
    </div><!-- col --><div class="col-8">
    {{ form.matrix(class="form-control",  value=default_values["matrix"]) }}
    {% for message in form.matrix.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.collected_scat.label }}
    </div><!-- col --><div class="col-8">
    {{ form.collected_scat(class="form-control",  value=default_values["collected_scat"]) }}
    {% for message in form.collected_scat.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.scalp_category.label }}
    </div><!-- col --><div class="col-8">
    {{ form.scalp_category(class="form-control",  value=default_values["scalp_category"]) }}
    {% for message in form.scalp_category.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top">

    <div class="col-2">{{ form.coord_east.label }}</div>

    <div class="col-2">
    {{ form.coord_east(class="form-control",  value=default_values["coord_east"]) }}
    {% for message in form.coord_east.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    <span class="form-text">UTM WGS84</span>
</div>



    <div class="col-1">{{ form.coord_north.label }} </div>

    <div class="col-2">
        {{ form.coord_north(class="form-control",  value=default_values["coord_north"]) }}
        {% for message in form.coord_north.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
        <span class="form-text">UTM WGS84</span>
    </div>



        <div class="col-1">{{ form.coord_zone.label }} </div>

        <div class="col-2">
            {{ form.coord_zone(class="form-control",  value=default_values["coord_zone"]) }}
            {% for message in form.coord_zone.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
            </div>


    </div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.observer.label }}
    </div><!-- col --><div class="col-8">
    {{ form.observer(class="form-control",  value=default_values["observer"]) }}
    {% for message in form.observer.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.institution.label }}
    </div><!-- col --><div class="col-8">
    {{ form.institution(class="form-control",  value=default_values["institution"]) }}
    {% for message in form.institution.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<button type="submit" class="btn btn-primary" >Submit</button>
</form>





</div>

</main>

</body>
</html>