{% extends "bootstrap_simple.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/clusterize.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/clusterize.min.js.css') }}"></script>
<script>
// JavaScript
var clusterize = new Clusterize({
    scrollId: 'scrollArea',
    contentId: 'contentArea'
});
</script>



{% if session['start_year'] and session['end_year'] %}Analysis date interval: <strong>{{ session['start_year']}}</strong> - <strong>{{session['end_year']}}</strong><br><br>{% endif %}



{% if results %}
<h2>List of {{ n_scats }} scats</h2>

<!--<style>th {top: 0;  position: sticky;}</style>-->

<div class="clusterize">
<table class="table">
<thead>
<tr>
<th style="background-color: white;">Scat ID</th>
<th style="background-color: white;">Date</th>
<th style="background-color: white;">Sampling season</th>
<th style="background-color: white;">Sampling type</th>
<th style="background-color: white;">Path ID</th>
<th style="background-color: white;">Track ID</th>
<th style="background-color: white;">WA code</th>
<th style="background-color: white;">Genotype ID</th>
<th style="background-color: white;">Location</th>
<th style="background-color: white;">Municipality</th>
<th style="background-color: white;">Province</th>
<th style="background-color: white;">Region</th>
<th style="background-color: white;">Deposition</th>
<th style="background-color: white;">Matrix</th>
<th style="background-color: white;">Collected scat</th>
<th style="background-color: white;">Scalp category</th>
<th style="background-color: white;">Genetic sample</th>
<th style="background-color: white;">UTM Coordinates</th>
<th style="background-color: white;">Operator</th>
<th style="background-color: white;">Institution</th>
<th style="background-color: white;">Notes</th>
</tr>
</thead>
</table>

<div id="scrollArea" class="clusterize-scroll">
<table class="table table-striped">
<tbody id="contentArea" class="clusterize-content">
{% for result in results %}
<tr>
<td><a href="/view_scat/{{ result['scat_id'] }}">{{ result['scat_id'] }}</a></td><td>{{ result['date'] }}</td><td>{{ result['sampling_season'] }}</td><td>{{ result['sampling_type'] }}</td><td>{% if result['sampling_type'] == "Systematic" %}{% if result['path_id'] != "" %}<a href="/view_path/{{ result['path_id'] }}">{{ result['path_id'] }}</a>{% else %}{{ result['path_id'] }}{% endif %}{% endif %}</td><td>{% if result['snowtrack_id'] %}<a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] }}</a>{% endif %}</td>
<td>{% if result['wa_code'] %}<a href="/view_genotype/{{result['wa_code'] }}">{{ result['wa_code'] }}</a>{% endif %}</td>
<td>{% if result['genotype_id'] %}<a href="/view_genotype/{{result['genotype_id'] }}">{{ result['genotype_id'] }}</a>{% endif %}{% if result['genotype_id2'] %}<a href="/view_genotype/{{result['genotype_id2'] }}">{{ result['genotype_id2'] }}</a>{% endif %}</td>
<td>{{ result['location'] if result['location'] is not none else ""}}</td><td>{{ result['municipality'] if result['municipality'] is not none else ""}}</td><td>{{ result['province'] if result['province'] is not none else ""}}</td><td>{{ result['region'] if result['region'] is not none else ""}}</td><td>{{ result['deposition'] }}</td><td>{{ result['matrix'] }}</td><td>{{ result['collected_scat'] }}</td><td>{{ result['scalp_category'] }}</td><td>{% if result['genetic_sample'] %}{{ result['genetic_sample'] }}{% endif %}</td><td>{{ result['coord_east'] }}, {{ result['coord_north'] }} {{ result['coord_zone'] }}</td>
<td>{{ result['observer'] }}</td><td>{{ result['institution'] }}</td><td><small>{{ result['notes'] if result['notes'] is not none else ""}}</small></td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div>
{% else %}

<h2>List of scats: no scats found</h2>

{% endif %}

{% endblock %}