{% extends "bootstrap_no-body.html" %}

{% block content %}
<body onload="scroll_to_scat_id()"> 
      <script>
      function scroll_to_scat_id() {
          const element = document.getElementById("{{ view_scat_id }}");
          if (element) {
              element.scrollIntoView();
              }
          }
</script>
{% include "menu.html" %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">

{% if session['start_year'] and session['end_year'] %}Analysis date interval: <strong>{{ session['start_year']}}</strong> - <strong>{{session['end_year']}}</strong><br><br>{% endif %}


<h3>List of {{ n_scats }} scats</h3>
{% if limit == 'ALL' %}
<h4>All scats</h4>
{% else %}
<h4>Scats from {{ offset + 1}} to {{ offset + limit }}</h4>
{% endif %}
<span style="display:solid">
{% if limit != 'ALL' %}
<a class="btn btn{% if offset %}-outline{% endif %}-secondary btn-sm" href="/scats_list_limit/0/{{ limit }}">1st page</a>
{% if offset - limit >= 0 %}
<a class="btn btn-outline-secondary btn-sm" href="/scats_list_limit/{{ offset - limit }}/{{ limit }}">Previous page</a>
{% endif %}
<a class="btn btn-outline-secondary btn-sm" href="/scats_list_limit/{{ offset + limit }}/{{ limit }}">Next page</a>
{% endif %}
<span style="display:inline-block; width: 8em;"></span>
<small>Scats / page</small>
<a class="btn btn{% if limit != 10 %}-outline{% endif %}-secondary btn-sm"  href="/scats_list_limit/{{ offset }}/10">10</a>
<a class="btn btn{% if limit != 20 %}-outline{% endif %}-secondary btn-sm"  href="/scats_list_limit/{{ offset }}/20">20</a>
<a class="btn btn{% if limit != 50 %}-outline{% endif %}-secondary btn-sm"  href="/scats_list_limit/{{ offset }}/50">50</a>
<a class="btn btn{% if limit != 100 %}-outline{% endif %}-secondary btn-sm" href="/scats_list_limit/{{ offset }}/100">100</a>
<a class="btn btn{% if limit != 200 %}-outline{% endif %}-secondary btn-sm" href="/scats_list_limit/{{ offset }}/200">200</a>
<a class="btn btn{% if limit != 500 %}-outline{% endif %}-secondary btn-sm" href="/scats_list_limit/{{ offset }}/500">500</a>
<a class="btn btn{% if limit != 'ALL' %}-outline{% endif %}-secondary btn-sm" href="/scats_list_limit/{{ offset }}/ALL">All</a>

<span style="display:inline-block; width: 8em;"></span>

<form style="display:inline" method="POST" action="/scats_list_limit/0/ALL">
<input  type="search" name="search" placeholder="" value="{{ search_term }}">
<button type="submit" class="btn btn-secondary btn-sm" >search</button>
</form>
</span>

{% if results %}

{% include "freeze_1stcolumn_1strow.html" %}

<div class="frozen">
<div class="condensed">
<table id="scats_list" class="table table-striped">
<thead>
<tr>
<th>Scat ID</th>
<th>Date</th>
<th>Sampling season</th>
<th>Sampling type</th>
<th>Path ID</th>
<th>Track ID</th>
<th>WA code</th>
<th>Genotype ID</th>
<th>Location</th>
<th>Municipality</th>
<th>Province</th>
<th>Region</th>
<th>Deposition</th>
<th>Matrix</th>
<th>Collected scat</th>
<th>Scalp category</th>
<th>Genetic sample</th>
<th>UTM Coordinates</th>
<th>Operator</th>
<th>Institution</th>
<th>Notes</th>
</tr>
</thead>
<tbody id="search-results">
{% for result in results %}
<tr>
<td><a id="{{ result['scat_id'] }}">
<a href="/view_scat/{{ result['scat_id'] }}">{{ result['scat_id'] }}</a>
</a></td>
<td>{{ result['date'] }}</td><td>{{ result['sampling_season'] }}</td>
<td>{{ result['sampling_type'] }}</td>
<td>{% if result['sampling_type'] == "Systematic" %}
     {% if result['path_id'] != "" %}
           <a href="/view_path/{{ result['path_id'] }}">{{ result['path_id'] if result['path_id'] is not none else "" }}</a>
     {% else %}
     {{ result['path_id'] if result['path_id'] is not none else "" }}
    {% endif %}
{% endif %}</td>
<td>{% if result['snowtrack_id'] %}<a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] if result['snowtrack_id'] is not none else "" }}</a>{% endif %}</td>
<td>{% if result['wa_code'] %}<a href="/view_wa/{{result['wa_code'] }}">{{ result['wa_code'] }}</a>{% endif %}</td>
<td>{% if result['genotype_id'] %}<a href="/view_genotype/{{result['genotype_id'] }}">{{ result['genotype_id'] }}</a>{% endif %}</td>
<td>{{ result['location'] if result['location'] is not none else ""}}</td>
<td>{{ result['municipality'] if result['municipality'] is not none else ""}}</td>
<td>{{ result['province'] if result['province'] is not none else ""}}</td>
<td>{{ result['region'] if result['region'] is not none else ""}}</td>
<td>{{ result['deposition'] }}</td><td>{{ result['matrix'] }}</td>
<td>{{ result['collected_scat'] }}</td><td>{{ result['scalp_category'] }}</td>
<td>{% if result['genetic_sample'] %}{{ result['genetic_sample'] }}{% endif %}</td>
<td>{{ result['coord_east'] }}, {{ result['coord_north'] }} {{ result['coord_zone'] }}</td>
<td>{{ result['observer'] }}</td><td>{{ result['institution'] }}</td>
<td><small>{{ result['notes'] if result['notes'] is not none else ""}}</small></td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!-- condensed -->
</div><!-- frozen -->
{% endif %}
<br>
{% endblock %}