{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB - Scats</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>
<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <strong>{{ message }}</strong><br>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}



<a href="/scats_list" class="btn btn-primary">List of scats</a>
<br>
<br>


<a href="/plot_all_scats" class="btn btn-primary">Plot scats</a>
<br>
<br>


<a href="/load_scats_xlsx" class="btn btn-primary">Load Excel (XLSX) or OpenDocument (ODS) file</a>
<br>
<br>
<!--
<a href="/load_scats_tsv" class="btn btn-primary">Load a TSV file</a>
<br>
<br>
-->
<a href="/new_scat" class="btn btn-primary">Insert a new scat manually</a>
<br>
<br>


<a href="/export_scats" class="btn btn-primary">Export scats in XLSX</a>
<br>
<br>



<a href="/static/systematic_scats_transects_location.html" class="btn btn-primary">Check location of scats from systematic sampling on transect</a>


<a href="/systematic_scats_transect_location" class="btn btn-primary">Update data</a><br>

<br>
<br>


{% endblock %}
