{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;
<!--<a href="/scats" class="btn btn-primary">Scats</a>&nbsp;-->
<a href="/new_scat" class="btn btn-primary">New scat</a>&nbsp;
<br>


{% if results %}
<h2>List of scats</h2>
<table class="table table-striped">
<tr>
<th>Scat ID</th>
<th>Date</th>
<th>WA code</th>
<th>Genotype ID</th>
<th>Path ID</th>
<th>Snowtrack ID</th>
<th>Sampling season</th>
<th>Sampling type</th>

<th>location</th>
<th>municipality</th>
<th>province</th>
<th>region</th>
<th>Deposition</th>
<th>Matrix</th>
<th>Collected scat</th>
<th>scalp_category</th>
<th>Sample genetic</th>
<th>UTM Coordinates</th>
<th>Observer</th>
<th>institution</th>


</tr>
{% for result in results %}
<tr>

    <td><a href="/view_scat/{{ result['scat_id'] }}">{{ result['scat_id'] }}</a></td>

    <td>{{ result['date'] }}</td>

    <td>
        {% if result['genetic_id'] %}{{ result['wa'] }}{% endif %}
    </td>

    <td>
        {% if result['genotype_id'] %}{{ result['genotype_id'] }}{% endif %}
    </td>

    <td>
    {% if result['path_id'] != "" %}
    <a href="/view_path/{{ result['path_id'] }}">{{ result['path_id'] }}</a>
    {% else %}
        {{ result['path_id'] }}
    {% endif %}
    </td>

    <td>
    {% if result['snowtrack_id'] != "" %}
    <a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] }}</a>
    {% else %}
    {{ result['snowtrack_id'] }}
    {% endif %}
    </td>

        <td>{{ result['sampling_season'] }}</td>
    <td>{{ result['sampling_type'] }}</td>


    <td>{{ result['location'] }}</td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>

    <td>{{ result['deposition'] }}</td>
    <td>{{ result['matrix'] }}</td>
    <td>{{ result['collected_scat'] }}</td>
    <td>{{ result['scalp_category'] }}</td>
    <td>
        {% if result['sample_genetic'] %}{{ result['sample_genetic'] }}{% endif %}
    </td>

    <td>{{ result['coord_east'] }}, {{ result['coord_north'] }}  {{ result['coord_zone'] }}</td>

    <td>{{ result['observer'] }}</td>
    <td>{{ result['institution'] }}</td>



</tr>
{% endfor %}
</table>
{% else %}

<h2>No scats found</h2>

{% endif %}



</div>

</main>







