{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB - Scats</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>
<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <strong>{{ message }}</strong><br>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}



<a href="/scats_list" class="btn btn-primary">List of scats</a>
<br>
<br>
<a href="/load_scats_xlsx" class="btn btn-primary">Load Excel (XLSX) or OpenDocument (ODS) file</a>
<br>
<br>
<!--
<a href="/load_scats_tsv" class="btn btn-primary">Load a TSV file</a>
<br>
<br>
-->
<a href="/new_scat" class="btn btn-primary">Insert a new scat manually</a>
<br>
<br>

<a href="/plot_all_scats" class="btn btn-primary">Plot</a>
<br>
<br>


</div>

</main>


