{% extends "bootstrap.html" %}

{% block content %}

<script src="https://unpkg.com/htmx.org@1.6.0"></script>




<h2>scat ID: {{ results["scat_id"] }}</h2>

<a href="/edit_scat/{{ results["scat_id"] }}" class="btn btn-danger">Edit scat</a>
<a href="/del_scat/{{ results["scat_id"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete scat</a>

<!--
<a href="/add_wa/{{ results["scat_id"] }}" class="btn btn-primary">Add WA code / Genetic ID</a><br>
-->

<!--
<button class="btn btn-primary" hx-post="/wa_form" hx-include="[name=scat_id]" hx-swap="outerHTML" hx-target="#wa_form">Add WA code</button>
-->

<div id="wa_form"></div>


<input type="hidden" id="scat_id" name="scat_id" value="{{ results["scat_id"] }}">

<br>

<table class="table table-striped">


<tr><td>WA code</td><td>{{ results["wa_code"] if results["wa_code"] is not none else ""}}</td></tr>
<tr><td>Genotype ID</td><td>{{ results["genotype_id"] if results["genotype_id"] is not none else "" }}
</td></tr>

<tr><td>Date</td><td>{{ results["date"] }}</td></tr>

<tr><td>Sampling season</td><td>{{ results["sampling_season"] }}</td></tr>
<tr><td>Sampling type</td><td>{{ results["sampling_type"] }}</td></tr>


<tr>
<td>Transect ID</td>
<td>{% if transect_id %}
<a href="/view_transect/{{ transect_id }}">{{ transect_id }}</a>
{% endif %}
</td>
</tr>

<tr>
<td>Path ID</td>
<td>{% if results['path_id'] and results['path_id_verif'] %}
<a href="/view_path/{{ results['path_id'] }}">{{ results['path_id'] }}</a>
{% else %}
{{ results['path_id'] }} <span style="color:red">NOT FOUND</span>
{% endif %}

</td>
</tr>

<tr><td>Track ID</td><td>
{% if results['snowtrack_id'] and results['snowtrack_id_verif'] %}
<a href="/view_snowtrack/{{ results['snowtrack_id'] }}">{{ results['snowtrack_id'] }}</a>
{% else %}
{% if results['snowtrack_id'] %}{{ results['snowtrack_id'] }} <span style="color:red">NOT FOUND</span>{% endif %}
{% endif %}
</td></tr>

<tr><td>Location</td><td>{{ results["location"] }}</td></tr>
<tr><td>Municipality</td><td>{{ results["municipality"] }}</td></tr>
<tr><td>Province</td><td>{{ results["province"] }}</td></tr>
<tr><td>Region</td><td>{{ results["region"] }}</td></tr>
<tr><td>Deposition</td><td>{{ results["deposition"] }}</td></tr>
<tr><td>Matrix</td><td>{{ results["matrix"] }}</td></tr>
<tr><td>Collected scat</td><td>{{ results["collected_scat"] }}</td></tr>
<tr><td>SCALP category</td><td>{{ results["scalp_category"] }}</td></tr>

<tr><td>Coordinates (WGS 84 / UTM zone 32N EPSG:32632)</td><td>East: {{ results["coord_east"] }}, North: {{ results["coord_north"] }}</td></tr>
<tr><td>Longitude, Latitude (WGS84 Decimal EPSG:4326)</td><td>{{ results["longitude"] }}, {{ results["latitude"] }}</td></tr>
<tr><td>Operator</td><td>{{ results["observer"] }}</td></tr>
<tr><td>Institution</td><td>{{ results["institution"] }}</td></tr>
<tr><td>Notes</td><td>{{ results["notes"]  if results["notes"] is not none else ""}}</td></tr>

<tr><td>Genetic sample</td><td>{% if results["genetic_sample"] %}{{ results["genetic_sample"] }}{% endif %}</td></tr>

</table>

<h2>Map</h2>

<div id="map" style="width: 800px; height: 800px;"></div>

{{ map }}

{% include 'legend.html' %}

{% endblock %}






