{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB {% if mode == 'dev' %} - TEST{%endif%}</h1>
<hr>


{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}
<br>

{% if mode == 'dev' %}
<h2>USE THIS INTERFACE ONLY FOR TESTING PURPOSE.<br>
DO NOT USE IT FOR PRODUCTIVE WORK!
</h2>
<h4>
Go to the production interface <a href="https://wolf.unito.it">wolf.unito.it</a>
</h4>
{%endif%}

{% if not session["email"] %}
<a href="{{ url_for('google_auth.login')}}" class="btn btn-lg btn-primary">Login with Google</a>

{# <a href="/login" class="btn btn-primary">Login with Google</a> #}

{% else %}

{#
{% if session['start_date'] and session['end_date'] %}
Analysis date interval: <strong>{{ session['start_date']}}</strong> - <strong>{{session['end_date']}}</strong>
{% endif %}
#}
{% endif %}

<!--
<br><br>
<big>
    <strong>
        ⚠️ <br>
Starting Tuesday, November 25th, 2025, the platform will not be accessible for about two days, the time required to proceed with the migration to another server. We apologize for the inconvenience.
</strong>
</big>
-->
{% endblock %}
