{% extends "bootstrap_simple.html" %}

{% block content %}

<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/paths" class="btn btn-primary">Paths</a>

<br><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>{% for message in messages %}<strong>{{ message }}</strong><br>{% endfor %}</ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}


{{ n_paths }} paths found in file.<br>
{{ n_paths_to_update|count }} are already present in the database (displayed with red background).<br>
<br>

<a href="/confirm_load_paths_xlsx/{{ filename }}/all"  class="btn btn-primary">Confirm insertion (path ID already presents will be updated)</a>

<a href="/confirm_load_paths_xlsx/{{ filename }}/new"  class="btn btn-primary">Insert only new track ID</a>

<a href="/paths"  class="btn btn-primary">Cancel insertion</a>

<br>
<br>


<table class="table table-striped">

<tr>
  <th>Path ID</th>
  <th>Transect ID</th>
  <th>Date</th>
  <th>Operator</th>
  <th>Completeness</th>
</tr>

{% for idx in all_data %}

{% if all_data[idx]['path_id'] in n_paths_to_update %}
<tr class="table-danger">
{% else %}
<tr>
{% endif %}
  <td>{{ all_data[idx]['path_id'] }}</td>
  <td>{{ all_data[idx]['transect_id'] }}</td>
  <td>{{ all_data[idx]['date'] }}</td>
  <td>{{ all_data[idx]['operator'] }}</td>
  <td>{{ all_data[idx]['completeness'] }}</td>
</tr>

{% endfor %}

</table>

{% endblock %}


