{% extends "bootstrap.html" %}

{% block content %}


    <h1>WolfDB</h1>
    <hr>

    <a href="/" class="btn btn-primary">Home</a>&nbsp;
    <a href="/paths_list" class="btn btn-primary">Paths</a>


    <br><br>

<h2>{{ title }}</h2>
<hr>


{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


<form method="POST" action="{{ action }}">

<div class="mb-3">
<div class="row g-3 align-items-top"><div class="col-2">{{ form.transect_id.label }}
</div><div class="col-8">
{{ form.transect_id(class="form-control") }}
{% for message in form.transect_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
</div></div></div>


<div class="mb-3">
<div class="row g-3 align-items-top"><div class="col-2">{{ form.date.label }}
</div><!-- col --><div class="col-8">
{{ form.date(size=30, class="form-control",  value=default_values["date"]) }}
{% for message in form.date.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

<span class="form-text">format must be YYYY-MM-DD</span>
</div></div></div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.completeness.label }}
    </div><div class="col-8">
    {{ form.completeness(class="form-control", value=default_values["completeness"]) }}
    {% for message in form.completeness.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

</div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.observer.label }}
    </div><!-- col --><div class="col-8">
    {{ form.observer(size=16, class="form-control", value=default_values["observer"]) }}
    {% for message in form.observer.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.institution.label }}
    </div><!-- col --><div class="col-8">
    {{ form.institution(size=16, class="form-control", value=default_values["institution"]) }}
    {% for message in form.institution.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.category.label }}
    </div><!-- col --><div class="col-8">
    {{ form.category(class="form-control", value=default_values["category"]) }}
    {% for message in form.category.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.notes.label }}
    </div><!-- col --><div class="col-8">
    {{ form.notes(size=20, class="form-control") }}
    {% for message in form.notes.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<button type="submit" class="btn btn-primary" >Submit</button>
</form>


{% endblock %}