{% extends "bootstrap.html" %}

{% block content %}


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/new_path" class="btn btn-primary">New path</a>


<br>
<br>


{% if results %}
<h2>List of {{ n_paths }} paths</h2>
<table class="table table-striped">
<tr>
<th>Region</th>
<th>Path ID</th>
<th>Transect ID</th>
<th>Date</th>
<th>Sampling year</th>
<th>Completeness (%)</th>
<th>Number of tracks</th>
<th>Number of samples</th>
<th>Operator</th>
<th>Institution</th>
<th>Notes</th>
</tr>
{% for result in results %}
<tr>
<td>{{ result['region'] }}</td>
<td><a href="/view_path/{{ result['path_id'] }}">{{ result['path_id'] }}</a></td>
<td><a href="/view_transect/{{ result['transect_id'] }}">{{ result['transect_id'] }}</a></td>
<td>{{ result['date'] }}</td>
<td>{{ result['sampling_season'] }}</td>
<td>{{ result['completeness'] }}</td>
<td>{{ result['n_tracks'] }}</td>
<td>{{ result['n_samples'] }}</td>
<td>{% if result['observer'] %}{{ result['observer'] }}{% endif %}</td>
<td>{% if result['institution'] %}{{ result['institution'] }}{% endif %}</td>
<td>{% if result['notes'] %}{{ result['notes'] }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% else %}

<h2>No path found</h2>

{% endif %}

{% endblock %}