{% extends "bootstrap.html" %}

{% block content %}



{% if path['path_id'] %}

<h2 style="padding-top:1em;">path ID: {{ path['path_id'] }}</h2>

<a href="/edit_path/{{ path['path_id'] }}" class="btn btn-danger">Edit path</a>
<a href="/del_path/{{ path["path_id"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete path</a>

<br><br>
<table class="table table-striped">

<tr><td>Transect ID</td><td><a href="/view_transect/{{ path['transect_id'] }}">{{ path['transect_id'] }}</a></td></tr>
<tr><td>Date</td><td>{{ path["date"] }}</td></tr>
<tr><td>Sampling season</td><td>{{ path["sampling_season"] }}</td></tr>
<tr><td>Completeness (%)</td><td>{{ path["completeness"] }}</td></tr>
<tr><td>Operator</td><td>{{ path["observer"] }}</td></tr>
<tr><td>Institution</td><td>{{ path["institution"] }}</td></tr>
<tr><td>Category</td><td>{{ path["category"] if path["category"] is not none else ""}}</td></tr>
<tr><td>Notes</td><td>{{ path["notes"] }}</td></tr>
<tr><td>Number of tracks</td><td>{{ n_tracks }}</td></tr>
<tr><td>Number of samples</td><td>{{ n_samples }}</td></tr>
</table>

{% if n_samples %}
<h3 style="padding-top:1em;">Samples</h3>
<table class="table table-striped">
<tr><th>Scat ID</th><th>WA code</th></tr>
{% for sample in samples %}
<tr>
<td><a href="/view_scat/{{ sample["scat_id"] }}">{{ sample["scat_id"] }}</a></td>
<td>{% if sample["wa_code"] %}<a href="/view_wa/{{ sample["wa_code"] }}">{{ sample["wa_code"] }}</a>{% endif %}</td>
</tr>

{% endfor %}
</table>
{% endif %}

{% if n_tracks or n_samples %}
<h2 style="padding-top:1em;">Map</h2>
<div id="map" style="width: 1200px; height: 600px;"></div>
{{ map }}
{% include 'legend.html' %}
{% endif %}

{% else %}
<div class="alert alert-danger" role="alert">Path ID <b>{{path_id}}</b> not found</div>
{% endif %}

{% endblock %}

