{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/paths_list" class="btn btn-primary">Paths</a>

<br>
<br>

{% if results['path_id'] %}

<h2>path ID: {{ results['path_id'] }}</h2>

<a href="/edit_path/{{ results['path_id'] }}" class="btn btn-primary">Edit</a>
<a href="/del_path/{{ results["path_id"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete path</a>

<br><br>
<table class="table table-striped">

<tr><td>Transect ID</td><td><a href="/view_transect/{{ results['transect_id'] }}">{{ results['transect_id'] }}</a></td></tr>
<tr><td>Date</td><td>{{ results["date"] }}</td></tr>
<tr><td>Sampling season</td><td>{{ results["sampling_season"] }}</td></tr>

<tr><td>Completeness</td><td>
{% if results["completeness"] %}
    {{ results["completeness"] }} %
{% else %}

{% endif %}
</td></tr>
<tr><td>Operator</td><td>{{ results["observer"] }}</td></tr>
<tr><td>Institution</td><td>{{ results["institution"] }}</td></tr>
<tr><td>Notes</td><td>{{ results["notes"] }}</td></tr>



<tr><td>Number of tracks</td><td>{{ n_tracks }}</td></tr>
<tr><td>Number of samples</td><td>{{ n_samples }}</td></tr>


</table>

{% else %}

Path ID <b>{{path_id}}</b> not found

{% endif %}

</div>
</main>







