{% include "header.html" %}

<script>
    function sampling_type_changed(selectObject) {
      if (selectObject.value == "Systematic")
          {
          document.getElementById("systematic").style.display = 'block';
          }
        else
        {
          document.getElementById("systematic").style.display = 'none';
          }

    }
    </script>


<body>

<main class="flex-shrink-0">
<div class="container">

    <h1>WolfDB</h1>
    <hr>

    <a href="/" class="btn btn-primary">Home</a>&nbsp;
    <a href="/snowtracks_list" class="btn btn-primary">Snow tracks</a>


    <br><br>



<h2>{{ title }}</h2>
<hr>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


<form method="POST" action="{{ action }}">


    <div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.snowtrack_id.label }}
    </div><!-- col --><div class="col-8">
    {{ form.snowtrack_id(size=30, class="form-control",  value=default_values["snowtrack_id"]) }}
    {% for message in form.snowtrack_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top">
<div class="col-2">{{ form.sampling_type.label }}</div>
<div class="col-8">
    {{ form.sampling_type(onchange="sampling_type_changed(this)",class="form-control", value=default_values["sampling_type"]) }}
    {% for message in form.sampling_type.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
</div>
</div></div>

<span id="systematic" style="display: none;">

<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.path_id.label }}
    </div><div class="col-8">
    {{ form.path_id(class="form-control") }}
    {% for message in form.path_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>

</span>


<div class="mb-3">
<div class="row g-3 align-items-top">

    <div class="col-2">{{ form.location.label }}</div>
    <div class="col-2">
        {{ form.location(size=16, class="form-control", value=default_values["location"]) }}
        {% for message in form.location.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


    <div class="col-2">{{ form.municipality.label }}</div>
    <div class="col-2">
        {{ form.municipality(size=16, class="form-control", value=default_values["municipality"]) }}
        {% for message in form.municipality.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


    <div class="col-1">{{ form.province.label }}</div>
    <div class="col-1">
        {{ form.province(size=16, class="form-control", value=default_values["province"]) }}
        {% for message in form.province.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


</div></div>

<div class="mb-3">
    <div class="row g-3 align-items-top">
<div class="col-2">{{ form.observer.label }}</div>
<div class="col-8">
    {{ form.observer(size=16, class="form-control", value=default_values["observer"]) }}
    {% for message in form.observer.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
</div>
</div></div>


<div class="mb-3">
    <div class="row g-3 align-items-top">
<div class="col-2">{{ form.institution.label }}</div>
<div class="col-8">
    {{ form.institution(size=16, class="form-control", value=default_values["institution"]) }}
    {% for message in form.institution.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
</div>
</div></div>


<div class="mb-3">
    <div class="row g-3 align-items-top">
<div class="col-2">{{ form.scalp_category.label }}</div>
<div class="col-8">
    {{ form.scalp_category( class="form-control", value=default_values["scalp_category"]) }}
    {% for message in form.scalp_category.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
</div>
</div></div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.days_after_snowfall.label }}
    </div><!-- col --><div class="col-8">
    {{ form.days_after_snowfall(size=16, class="form-control", value=default_values["days_after_snowfall"]) }}
    {% for message in form.days_after_snowfall.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
<div class="row g-3 align-items-top">

    <div class="col-2">{{ form.minimum_number_of_wolves.label }}</div>
    <div class="col-3">
    {{ form.minimum_number_of_wolves(size=16, class="form-control", value=default_values["minimum_number_of_wolves"]) }}
    {% for message in form.minimum_number_of_wolves.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


</div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.track_format.label }}
    </div><!-- col --><div class="col-8">
    {{ form.track_format(class="form-control",  value=default_values["track_format"]) }}
    {% for message in form.track_format.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.notes.label }}
    </div><!-- col --><div class="col-8">
    {{ form.notes(class="form-control",  value=default_values["notes"]) }}
    {% for message in form.notes.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<button type="submit" class="btn btn-primary" >Submit</button>
</form>





</div>

</main>

</body>
</html>