{% extends "bootstrap.html" %}

{% block content %}



<h1>WolfDB - Tracks</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>
<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <strong>{{ message }}</strong><br>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}



<a href="/tracks_list" class="btn btn-primary">List of tracks</a>

<br>
<br>
<a href="/plot_tracks" class="btn btn-primary">Plot all tracks</a>


<br>
<br>
<a href="/load_tracks_xlsx" class="btn btn-primary">Load Excel (XLSX) or OpenDocument (ODS) file</a>




<br>
<br>
<a href="/new_snowtrack" class="btn btn-primary">Insert a new track</a>


{% endblock %}