{% extends "bootstrap.html" %}

{% block content %}



<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/tracks" class="btn btn-primary">Tracks</a>

<a href="/new_snowtrack" class="btn btn-primary">New track</a>
<br>
<br>


{% if results %}
<h2>List of {{ n_tracks }} tracks</h2>
<table class="table table-striped">
<tr>
<th>Track ID</th>
<th>Sampling type</th>
<th>Transect ID</th>
<th>Date</th>
<th>Sampling season</th>
<th>Track type</th>
<th>Location</th>
<th>Municipality</th>
<th>Province</th>
<th>Region</th>
<th>Operator</th>
<th>Institution</th>
<th>Scalp category</th>
<th>Days after snowfall</th>
<th>Minimum number of wolves</th>
<th>Track format</th>
<th>Notes</th>

</tr>
{% for result in results %}
<tr>

    <td><a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] }}</a></td>

    <td>{% if result["sampling_type"] %}{{ result['sampling_type'] }}{% endif %}</td>

    <td>
    {% for tr in result['transect_id'] %}
        <a href="/view_transect/{{ tr }}">{{ tr }}</a><br>
    {% endfor %}


    </td>

    <td>{{ result['date'] }}</td>
    <td>{{ result['sampling_season'] }}</td>
    <td>{% if result["track_type"] %}{{ result['track_type'] }}{% endif %}</td>
    <td>{% if result["location"] %}{{ result['location'] }}{% endif %}</td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>
    <td>{% if result["observer"] %}{{ result['observer'] }}{% endif %}</td>
    <td>{% if result["institution"] %}{{ result['institution'] }}{% endif %}</td>
    <td>{{ result['scalp_category'] }}</td>

    <td>{{ result['days_after_snowfall'] }}</td>
    <td>{{ result['minimum_number_of_wolves'] }}</td>
    <td>{% if result["track_format"] %}{{ result['track_format'] }}{% endif %}</td>
    <td>{{ result['notes'] }}</td>

</tr>
{% endfor %}
</table>
{% else %}

<h2>No snow track found</h2>

{% endif %}


{% endblock %}







