{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/new_snowtrack" class="btn btn-primary">New track</a>
<br>
<br>


{% if results %}
<h2>List of snow tracks</h2>
<table class="table table-striped">
<tr>
<th>snow-tracking ID</th>
<th>Path ID</th>
<th>Date</th>
<th>Sampling season</th>
<th>Place</th>
<th>municipality</th>
<th>province</th>
<th>region</th>
<th>observer</th>
<th>institution</th>
<th>scalp category</th>
<th>sampling_type</th>
<th>nb_days_after_snowing</th>
<th>min_number_subjects</th>
<th>track format</th>
<th>Notes</th>

</tr>
{% for result in results %}
<tr>

    <td><a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] }}</a></td>
    <td><a href="/view_path/{{ result['transect_id'] }}">{{ result['path_id'] }}</a></td>
    <td>{{ result['date'] }}</td>
    <td>{{ result['sampling_season'] }}</td>
    <td>{{ result['place'] }}</td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>
    <td>{{ result['observer'] }}</td>
    <td>{{ result['institution'] }}</td>
    <td>{{ result['scalp_category'] }}</td>
    <td>{{ result['sampling_type'] }}</td>


    <td>{{ result['nb_days_after_snowing'] }}</td>
    <td>{{ result['min_number_subjects'] }}</td>
    <td>{{ result['track_format'] }}</td>
    <td>{{ result['note'] }}</td>

</tr>
{% endfor %}
</table>
{% else %}

<h2>No snow track found</h2>

{% endif %}



</div>

</main>







