{% extends "bootstrap.html" %}

{% block content %}



<h1>WolfDB - Tracks</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/tracks" class="btn btn-primary">Tracks</a>

<a href="/new_snowtrack" class="btn btn-primary">New track</a>
<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}


{% if results %}
<h2>List of {{ n_tracks }} tracks</h2>
<br>

<style>th {top: 0; position: sticky;}</style>

<table class="table table-striped">
<tr>
<th style="background-color: white;">Track ID</th>
<th style="background-color: white;">Sampling type</th>
<th style="background-color: white;">Transect ID</th>
<th style="background-color: white;">Date</th>
<th style="background-color: white;">Sampling season</th>
<th style="background-color: white;">Track type</th>
<th style="background-color: white;">Coordinates</th>
<th style="background-color: white;">Location</th>
<th style="background-color: white;">Municipality</th>
<th style="background-color: white;">Province</th>
<th style="background-color: white;">Region</th>
<th style="background-color: white;">Operator</th>
<th style="background-color: white;">Institution</th>
<th style="background-color: white;">Scalp category</th>
<th style="background-color: white;">Days after snowfall</th>
<th style="background-color: white;">Minimum number of wolves</th>
<th style="background-color: white;">Track format</th>
<th style="background-color: white;">Notes</th>

</tr>
{% for result in results %}
<tr>

    <td><a href="/view_snowtrack/{{ result['snowtrack_id'] }}">{{ result['snowtrack_id'] }}</a></td>

    <td>{% if result["sampling_type"] %}{{ result['sampling_type'] }}{% endif %}</td>

    <td>
    {% for tr in result['transect_id'] %}
        <a href="/view_transect/{{ tr }}">{{ tr }}</a><br>
    {% endfor %}

    </td>

    <td>{{ result['date'] }}</td>
    <td>{{ result['sampling_season'] }}</td>
    <td>{% if result["track_type"] %}{{ result['track_type'] }}{% endif %}</td>

    <td>{% if result["multilines"] is not none %}Yes{% else %}No{%endif%}</td>

    <td>{% if result["location"] %}{{ result['location'] }}{% endif %}</td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>
    <td>{% if result["observer"] %}{{ result['observer'] }}{% endif %}</td>
    <td>{% if result["institution"] %}{{ result['institution'] }}{% endif %}</td>
    <td>{{ result['scalp_category'] }}</td>

    <td>{{ result['days_after_snowfall'] }}</td>
    <td>{{ result['minimum_number_of_wolves'] }}</td>
    <td>{% if result["track_format"] %}{{ result['track_format'] }}{% endif %}</td>
    <td>{{ result['notes'] }}</td>

</tr>
{% endfor %}
</table>
{% else %}

<h2>No track found</h2>

{% endif %}


{% endblock %}







