{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/snowtracks_list" class="btn btn-primary">Snow tracks</a>&nbsp;
<br>

<br>

<h2>Snow-tracking ID: {{ results["snowtrack_id"] }}</h2>

<a href="/edit_snowtrack/{{results["snowtrack_id"] }}" class="btn btn-primary">Edit</a>
<a href="/del_snowtrack/{{ results["snowtrack_id"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete snow track</a>

<table class="table table-striped">

<tr><td>Date</td><td>{{ results["date"] }}</td></tr>
<tr><td>Sampling season</td><td>{{ results["sampling_season"] }}</td></tr>

<tr><td>location</td><td>{{ results["location"] }}</td></tr>
<tr><td>municipality</td><td>{{ results["municipality"] }}</td></tr>
<tr><td>province</td><td>{{ results["province"] }}</td></tr>

<tr><td>Region</td><td>{{ results["region"] }}</td></tr>
<tr><td>observer</td><td>{{ results["observer"] }}</td></tr>
<tr><td>institution</td><td>{{ results["institution"] }}</td></tr>
<tr><td>Scalp category</td><td>{{ results["scalp_category"] }}</td></tr>
<tr><td>sampling_type</td><td>{{ results["sampling_type"] }}</td></tr>
<tr><td>Transect ID</td><td><a href="/view_transect/{{ results['transect_id'] }}">{{ results['transect_id'] }}</a></td></tr>
<tr><td>days after snowfall</td><td>{{ results['days_after_snowfall'] }}</td></tr>
<tr><td>Minimum number of wolves</td><td>{{ results['minimum_number_of_wolves'] }}</td></tr>
<tr><td>Track format</td><td>{{ results['track_format'] }}</td></tr>
<tr><td>Notes</td><td>{{ results['note'] }}</td></tr>

</table>



</div>
</main>







