{% extends "bootstrap.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}


{% if return_to %}
<a href="{{ return_to }}" class="btn btn-primary">Go to genetic samples</a>
{% else %}
<button type="button" class="btn btn-primary" onclick="history.back()">Go to genetic samples</button>
{% endif %}

<br>
<br>

<h3>
WA code: <b>{{ data.wa_code }}</b><br>
Locus: <b>{{ data.locus }}</b><br>
Allele: <b>{{ data.allele }}</b><br>
Current value: <b>{{ data.value }}</b> Other allele value: {{ data.other_allele_value }}<br>
{% if data.definitive %}
VALIDATED
{% else %}
{% if data.user_id %}
<span style="background:#FF6461">TO BE CHECKED</span>
{% endif %}
{% endif %}<br>
</h3>
{% if data.genotype_id %}
<h4>
Genotype ID: <a href="/view_genotype/{{ data.genotype_id }}">{{ data.genotype_id }}</a>  sex: {{ data.genotype_sex }}<br>
Genotype allele value:

<span {% if data.genotype_allele.value != data.value %}style="background:orange"{%endif%}>
  {{ data.genotype_allele.value  }}
</span>
</h4>
{% endif %}



<p style="margin-bottom:2em;"><h4>Allele's notes</h4></p>

{% if notes %}
<table class="table table-striped">
<th>Timestamp</th>
<th>Value</th>
<th>Note</th>
<th>User</th>
</thead>
{% for note in notes %}
<tr>
<td>{{ note['timestamp'] }}</td>
<td>{{ note['val'] if note['val'] is not none else '' }}</td>
<td>{{ note['notes'] if note['notes'] is not none else '' }}</td>
<td>{{ note['user_id'] if note['user_id'] is not none else '' }}</td>
</tr>
{% endfor %}
</table>
{% else %}
No notes were found
{% endif %}

<br><br>

<h4>Insert a new value and/or a note</h4>

<form method="POST" action="/locus_note/{{ data['wa_code'] }}/{{ data['locus'] }}/{{ data['allele'] }}">

  <input type="hidden" name="return_to" value="{{ return_to }}">

  {% if not data['allele_modifier'] %}<fieldset disabled>{%endif%}

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="definitive" name="definitive" {% if data['definitive'] %}checked{% endif %}>
    <label class="form-check-label" for="definitive">Validated value</label>
  </div>
<br>


<div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="new_value" class="col-form-label">New allele value</label>
    </div>
    <div class="col-auto">
      <input type="text" id="new_value" name="new_value" class="form-control" pattern="[0-9]*" aria-describedby="help" value="{{ data['value'] if data['value'] is not none else '' }}">
    </div>
    <div class="col-auto">
      <span id="help" class="form-text">
        Must be <b>numeric</b> or <b>empty</b>.
      </span>
    </div>
</div>
{% if not data['allele_modifier'] %}</fieldset>{%endif%}

  <div class="mb-3">
    <label for="notes" class="form-label">Note</label>
    <textarea class="form-control" id="new_note"  name="new_note" rows="3"></textarea>
    <div id="passwordHelpBlock" class="form-text">
        Optional
      </div>
        
    </div>


<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>


{#
<table class="table table-striped">
<thead>
<th>Timestamp</th>
<th>Value</th>
<th>Notes</th>
<th>User</th>
</thead>
{% for row in history %}

<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['val'] }}</td>
<td>{{ row['notes'] }}</td>
<td>{{ row['user_id'] }}</td>
</tr>

{% endfor %}
</table>
#}

{% endblock %}