{% extends "bootstrap.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <strong>{{ message }}</strong
    ><br />
    {% endfor %}
</ul>
{% endif %} {% endwith %} {% block body %}{% endblock %}

<h2>Import WA data from a spreadsheet file</h2>
<br />
<form
    id="upload_file"
    action="{{ url_for('genetic.load_wa_from_spreadsheet') }}"
    method="POST"
    enctype="multipart/form-data"
>
    <div class="mb-3">
        <label for="laboratory" class="form-label">Laboratory</label>

        <select class="form-select" id="laboratory" name="laboratory" required>
            <option value="" selected disabled>Select a laboratory</option>

            {% for lab in laboratories %}
            <option value="{{ lab.acronym }}">
                {{ lab.name }} - {{ lab.acronym }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="new_file" class="form-label">
            Select a spreadsheet file (XLSX or ODS)
        </label>

        <input
            type="file"
            class="form-control"
            id="new_file"
            name="new_file"
            accept=".xlsx,.ods"
        />
    </div>

    <button
        type="submit"
        class="btn btn-danger"
        id="upload-file-btn"
        type="button"
    >
        Upload file
    </button>
</form>

<hr />

<h4>Template</h4>

<br />
<a href="{{ url_for('static', filename='wa_template.xltx') }}"
    >Download Excel 2007-365 Spreadsheet template (XLTX)</a
><br />

{#
<br />
<a href="{{ url_for('static', filename='scats_upload_example.xlsx') }}"
    >XLSX example for uploading scats</a
><br />
#} {% endblock %}
