{% extends "bootstrap.html" %}


{% block content %}

<a href="{{ back_url }}" class="btn btn-primary">Go back</a>
<br><br>

<h1>Set dispersal of <b>{{ genotype_id }}</b></h1>
<hr>

<form method="POST" action="/set_dispersal/{{ genotype_id }}">

Current dispersal: <b>{{ current_dispersal }}</b><br>
<br>
Set the new dispersal:<br>
<input type="text"  id="dispersal" name="dispersal" value="{{ current_dispersal }}"><br>
<br>
<button type="submit" class="btn btn-danger" >Submit</button>

</form>

{% endblock %}