{% extends "bootstrap.html" %}


{% block content %}

<a href="{{ back_url }}" class="btn btn-primary">Go back</a>
<br><br>

<h1>Set status at first capture of <b>{{ genotype_id }}</b></h1>
<hr>

<form method="POST" action="/set_status_1st_recap/{{ genotype_id }}">

Current status at first capture: <b>{{ current_status_first_capture }}</b><br>
<br>
Set the new status at first capture:<br>
<input type="text"  id="status_first_capture" name="status_first_capture" value="{{ current_status_first_capture }}"><br>
<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>

{% endblock %}