{% extends "bootstrap.html" %}


{% block content %}


<h1>Set status at first capture</h1>
<hr>

<a href="{{ session['url_genotypes_list'] }}" class="btn btn-primary">Go to genotypes list</a>
<br><br>

<h3>Genotype ID: <b>{{ genotype_id }}</b></h3>


<form method="POST" action="/set_status_1st_recap/{{ genotype_id }}">

Current status at first capture: <b>{{ current_status_first_capture }}</b><br>
<br>
Set the new status at first capture:<br>
<input type="text"  id="status_first_capture" name="status_first_capture" value="{{ current_status_first_capture }}"><br>
<br>
<button type="submit" class="btn btn-primary" >Submit</button>

</form>

{% endblock %}