{% extends "bootstrap.html" %}

{% block content %}

<a href="{{ back_url }}" class="btn btn-primary">Go back</a>
<br><br>

<h1>Set {{ parent }} of <b>{{ genotype_id }}</b></h1>
<hr>


<form method="POST" action="/set_parent/{{ genotype_id }}/{{ parent }}">

Current {{ parent }}: <b>{{ current_parent }}</b><br>
<br>
Set the new {{ parent }}:<br>
<input type="text"  id="parent" name="parent" value="{{ current_parent }}"><br>
<br>
<button type="submit" class="btn btn-danger" >Submit</button>

</form>

{% endblock %}