{% extends "bootstrap.html" %}


{% block content %}


<a href="{{ session['url_wa_list'] }}" class="btn btn-primary">Go to genetic samples</a>

<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}


<h3>WA code: <b>{{ wa_code }}</b></h3>


<form method="POST" action="/set_wa_genotype/{{ wa_code }}">

Current genotype ID: <b>{{ current_genotype_id }}</b><br>
<br>
Set the new genotype:
<input type="text" id="genotype_id" name="genotype_id" value="{{ current_genotype_id }}"><br>
<br>
<button type="submit" class="btn btn-primary" >Submit</button>

<input type="hidden" name="return_url" value="{{ return_url }}">
</form>

{% endblock %}