{% extends "bootstrap.html" %}

{% block content %}


<h2>View genetic data history</h2><hr>



<a href="/view_genetic_data/{{ wa_code }}" class="btn btn-primary">View {{ wa_code  }}</a>&nbsp;

<br>
<br>

<h2>WA code: <b>{{wa_code}}</b></h2>

<span style="font-size: larger;">Genotype id: <b>{{ genotype_id }}</b><br>Sex: <b>{{ sex }}</b></span>
<br>
<br>

<h3>History of the <b>{{ locus }}</b> locus</h3>


{% for allele in ('a','b') %}
<br><br>
<h4><b>Allele {{ allele }}</b></h4>

<table class="table table-striped">
<tr>
<th style="width: 16em">Date</th>
<th>Value</th>
<th>Notes</th>
<th>User</th>
<th>Definitive</th>
</tr>
{% for row in locus_values %}
{% if row['allele'] == allele %}
<tr>
<td>{{ row['timestamp'] }}</td>
<td>{{ row['val'] }}</td>
<td>{{ row['notes'] if row['notes'] is not none else '' }}</td>
<td>{{ row['user_id']  if row['user_id'] is not none else '' }}</td>
<td>{{ row['definitive'] }}</td>
</tr>
{%endif%}
{% endfor %}
</table>


{%endfor%}


{% endblock %}