{% extends "bootstrap.html" %}

{% block content %}

{% if return_to %}
<a href="{{ return_to }}" class="btn btn-primary">Previous page</a>
{% else %}
<button type="button" class="btn btn-primary" onclick="history.back()">Previous page</button>
{% endif %}
<br>
<br>

<h2>WA code: <b>{{ wa_code }}</b></h2>

<hr>

<h3>Sample type: <b>{{ result["sample_type"] }}</b></h3>

<h3>
{% if result["sample_type"] == 'Scat' %}
View scat data: <a href="/view_scat/{{ result['sample_id'] }}">{{ result['sample_id'] }}</a>
{% endif %}


{% if result["sample_type"] == 'Dead wolf' %}
View dead wolf data: <a href="/view_dead_wolf_id/{{ result['sample_id'] }}">
{% if result['tissue_id'] not in ('', none) %}
{{ result['tissue_id'] }}
{% else %}
{{ result['sample_id'] }}
{% endif %}
</a>
{% endif %}
</h3>

<br><br>

{% if genetic_data  %}
<a class="btn btn-primary" href="/view_genetic_data/{{ wa_code }}">View genetic data</a>
{% else %}
<h4>No genetic data available</h4>
{% endif %}

{% endblock %}




