{% extends "bootstrap.html" %}

{% block content %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}

{% if 'url_wa_list' in session %}
<a href="{{ session['url_wa_list'] }}" class="btn btn-primary">Go to genetic samples</a>
{%endif%}
{% if 'url_genotypes_list' in session %}
<a href="{{ session['url_genotypes_list'] }}" class="btn btn-primary">Go to genotypes list</a>
{%endif%}


<h2 style="padding-top:1em;">Genotype ID: {{ result["genotype_id"] }}</h2>

<br>

<table class="table table-striped">
<tr><td>Record status</td><td>{{ result["record_status"] }}</td></tr>
<tr><td>Other ID</td><td>{{ result["tmp_id"] }}</td></tr>
<tr><td>Sex</td><td>{{ result["sex"] }}</td></tr>
<tr><td>Status</td><td>{{ result["status"] if result["status"] is not none else "" }}</td></tr>
<tr><td>Pack</td><td>{% if result["pack"] is not none %}<a href="/view_pack/{{result['pack'] }}">{{ result["pack"] }}{% endif %}</a></td></tr>
<tr><td>Date first capture</td><td>{{ result["date_first_capture"] if result["date_first_capture"] is not none else "" }}</td></tr>
<tr><td>Age at first capture</td><td>{{ result["age_first_capture"]  if result["age_first_capture"] is not none else ""}}</td></tr>
<tr><td>Status at first capture</td><td>{{ result["status_first_capture"]  if result["status_first_capture"] is not none else ""}}</td></tr>
<tr><td>Dispersal</td><td>{{ result["dispersal"]  if result["dispersal"] is not none else ""}}</td></tr>
<tr><td>number of recaptures</td><td>{{ n_recap }}</td></tr>
<tr><td>Dead recovery</td><td>{{ result["dead_recovery"] if result["dead_recovery"] is not none else ""}}</td></tr>
<tr><td>Working notes</td><td>{{ result["working_notes"] if result["working_notes"] is not none else ""}}</td></tr>
</table>


{% if wa_codes %}

<hr>
<h3>Genetic data</h3>


<table class="table table-striped">
<thead>
<tr><th></th>
<th colspan="2">{{ result["genotype_id"] }}</th><th></th>
{% for wa_code in wa_codes %}
<th colspan="2"><a href="/view_wa/{{ wa_code["wa_code"] }}">{{ wa_code["wa_code"] }}</a></th><th></th>
{%  endfor %}
</tr>
<tr>
<td><b>Allele</b></td>
<th>a</th><th>b</th><th></th>
{% for wa_code in wa_codes %}
<th>a</th><th>b</th><th></th>
{%  endfor %}
</tr>

</thead>
<tbody>
{% for locus in loci_list %}

<tr>
<td><b>{{ locus }}</b></td>
<td style="border-left: 1px solid black;">{{ genotype_loci[locus]['a']['value'] }}</td>
<td>{{ genotype_loci[locus]['b']['value'] }}</td>
<td style="border-left: 1px solid black;"></td>
{% for wa_code in wa_codes %}
{% for allele in ('a', 'b')%}
<td style="background:{% if loci_values[wa_code['wa_code']][locus][allele]['value'] not in (0,'-') and loci_values[wa_code['wa_code']][locus][allele]['value'] != genotype_loci[locus][allele]['value'] %}orange{% endif %}">{{ loci_values[wa_code["wa_code"]][locus][allele]['value'] }}</td>
{% endfor %}
<td style="border-left: 1px solid black;"></td>
{%  endfor %}

</tr>

{% endfor %}
</tbody>
</table>

<hr>
<h2 style="padding-top:1em;">Localization of WA codes</h2>

<div id="map" style="width: 1200px; height: 800px;"></div>

{{ map }}

{% include 'legend.html' %}

{% else %}

<h3>No genetic data</h3>

{% endif %}

{% endblock %}




