{% extends "bootstrap_simple.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">

{% if 'DBSCAN' in tool %}
<a style="width:10%" href="/plot_wa_clusters/{{ distance }}" class="btn btn-primary">Plot WA clusters ({{ distance }} m)</a>&nbsp;
{% endif %}

<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}

{% if genotypes_info %}
<div class="container">
<h3>{{ title }}</h3>

<br>

<a href="/wa_analysis_group/{{ tool }}/export" class="btn btn-info btn-sm">Export XLSX</a>
<a href="/wa_analysis_group/{{ tool }}/ml-relate" class="btn btn-info btn-sm">Export Genepop (ML_Relate)</a>
<a href="/wa_analysis_group/{{ tool }}/colony" class="btn btn-info btn-sm">Export for Colony</a>
<a href="/wa_analysis_group/{{ tool }}/run_colony" class="btn btn-info btn-sm">Run Colony</a>

{% if colony_error_message %}
<div class="alert alert-danger" role="alert">
<b>Colony error message:</b><br><br>
<pre>{{ colony_error_message }}</pre>
</div>
{% endif %}


{% if colony_result %}
<br><br><b>Colony results:</b><br><br>
<pre>{{ colony_results_content }}</pre>
<a href="{{ colony_result }}" class="btn btn-info btn-sm">Download Colony results</a>
{%  endif %}

<br>
<br>
</div>


{% include "freeze_1stcolumn_1strow.html" %}

<div class="frozen">
<div class="condensed">
<table class="table table-striped">
<thead>
<tr>
<th>Genotype ID</th>
<th></th>
<th>Notes</th>
<th>Temp ID</th>
<th>Sex</th>
<th>Mother</th>
<th>Father</th>
<th>Hybrid</th>
<th>Status</th>
<th>Pack</th>

<th>Dispersal</th>
<th>n. recapt</th>
<th>Dead recovery</th>

{% for locus in loci_list %}
{% if loci_list[locus] == 2%}
<th style="background-color: white; border-left: 1px solid black;">{{ locus }} a</th>
<th style="background-color: white;">{{ locus }} b</th>
{% else %}
<th style="background-color: white; border-left: 1px solid black;">{{ locus }}</th>
<th style="background-color: white;"></th>
{% endif %}

{% endfor %}
</tr>
</thead>
<tbody>
{% for genotype_id in data %}
<tr>
<td>
<a href="/view_genotype/{{ genotype_id }}" target="_blank"><b>{{ genotype_id }}</b></a>
</td>
<td style="white-space: nowrap;">
<div class="dropdown">
<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
set ...
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<li><a href="/set_status/{{ genotype_id }}" class="dropdown-item">status</a></li>
<li><a href="/set_pack/{{ genotype_id }}" class="dropdown-item">pack</a></li>
<li><a href="/set_sex/{{ genotype_id }}" class="dropdown-item">sex</a></li>
<li><a href="/set_hybrid/{{ genotype_id }}" class="dropdown-item">hybrid</a></li>
<li><a href="/set_status_1st_recap/{{ genotype_id }}" class="dropdown-item">status at 1st recap</a></li>
<li><a href="/set_dispersal/{{ genotype_id }}" class="dropdown-item">dispersal</a></li>
<li><a href="/set_parent/{{ genotype_id }}/mother" class="dropdown-item">mother</a></li>
<li><a href="/set_parent/{{ genotype_id }}/father" class="dropdown-item">father</a></li>

<li><a href="/genotype_note/{{ genotype_id }}" class="dropdown-item">notes</a></li>
</ul>
</div>
</td>

<td>{{ data[genotype_id]["working_notes"] if data[genotype_id]["working_notes"] is not none else "" }}</td>

<td>{{ data[genotype_id]["tmp_id"] }}</td>

<td>{{ data[genotype_id]["sex"] }}</td>

<td>{% if data[genotype_id]['mother'] %}{{ data[genotype_id]['mother'] }}{% endif %}</td>

<td>{% if data[genotype_id]['father'] %}{{ data[genotype_id]['father'] }}{% endif %}</td>

<td>{{ data[genotype_id]["hybrid"] if data[genotype_id]["hybrid"] is not none else "" }}</td>

<td>{{ data[genotype_id]["status"] if data[genotype_id]["status"] is not none else "" }}</td>

<td>
{% if data[genotype_id]["pack"] is not none %}
<a href="/view_pack/{{ data[genotype_id]["pack"]}}">{{ data[genotype_id]["pack"]}}</a>
{% endif %}
</td>


<td>{{ data[genotype_id]["dispersal"] if data[genotype_id]["dispersal"] is not none else "" }}</td>

<td>{{ data[genotype_id]["n_recap"] if data[genotype_id]["n_recap"] is not none else "" }}</td>

<td>{{ data[genotype_id]["dead_recovery"] if data[genotype_id]["dead_recovery"] is not none else "" }}</td>


{% for locus in loci_values[genotype_id] %}
{% for allele in ('a', 'b') %}
{% if allele in loci_values[genotype_id][locus] %}
<td style="{% if allele == 'a' %}border-left: 1px solid black;{% endif %}
{% if data[genotype_id]["record_status"] == "temp" %} 

{% if loci_values[genotype_id][locus][allele]['has_history'] %}
{% if loci_values[genotype_id][locus][allele]['validated'] %}
background: #90ee90
{% else %}
background: #FF6461
{% endif %}

{% else %}

{% if loci_values[genotype_id][locus][allele]['validated'] %}
background: #90ee90
{% endif %}

{% endif %}

{%endif%}
">
{{ loci_values[genotype_id][locus][allele]['value'] }}
<br>
<small><a href="/genotype_locus_note/{{ genotype_id}}/{{ locus }}/{{ allele }}">note</a></small>
</td>
{% else %}
<td></td>
{% endif %}

{% endfor %}


{% endfor %}

</tr>
{% endfor %}
</tbody>
</table>
</div><!-- condensed -->
</div><!-- frozen -->


{% else %}

<h2>No genotypes were found</h2>

{% endif %}

{% endblock %}





