{% extends "bootstrap_simple.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">



<a style="width:10%" href="/plot_wa_clusters/{{ distance }}" class="btn btn-primary">Plot WA clusters ({{ distance }} m)</a>&nbsp;

<br>
<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}

{% if wa_scats %}

<h3>{{ title }}</h3>

<br>
<a style="width:10%" href="/wa_analysis/{{ distance }}/{{ cluster_id }}/export" class="btn btn-info btn-sm">Export XLSX</a>
<a style="width:10%" href="/wa_analysis/{{ distance }}/{{ cluster_id }}/ml-relate" class="btn btn-info btn-sm">Export Genepop (ML_Relate)</a>
<br>
<br>
<br>



{% include "freeze_1stcolumn_1strow.html" %}

<div class="frozen">
<div class="condensed">
<table class="table table-striped">
<thead>
<tr>
<th>WA code</th>
<th>Sample ID</th>
<th>Date</th>
<th>Municipality</th>
<th>Coordinates<br><small>WGS84 UTM zone 32N</small></th>
<th>mtDNA result</th>
<th>Genotype ID</th>
<th>Temp ID</th>
<th>Sex</th>
<th>Status</th>
<th>Pack</th>
<th>Dead recovery</th>


{% for locus in loci_list %}
{% if loci_list[locus] == 2%}<th style="background-color: white; border-left: 1px solid black;">{{ locus }} a</th><th style="background-color: white;">{{ locus }} b</th>
{% else %}
<th style="background-color: white; border-left: 1px solid black;">{{ locus }}</th>
<th style="background-color: white;"></th>
{% endif %}
{% endfor %}

</tr>
</thead>
<tbody>
{% for result in wa_scats %}
<tr>
<td style="white-space: nowrap;">
<a id="{{ result['wa_code'] }}">
<a href="/view_wa/{{ result['wa_code'] }}"><b>{{ result['wa_code'] }}</b></a></a>
<a href="/view_genetic_data/{{ result['wa_code'] }}" class="btn btn-sm btn-primary">Genetic data</a>
</td>

<td>{% if result['sample_id'] %}<a href="/view_sample/{{ result['sample_id'] }}">{{ result['sample_id'] }}</a>{% endif %}</td>

<td>{% if result['date'] %}{{ result['date'] }}{% endif %}</td>

<td>{% if result['municipality'] %}<small>{{ result['municipality'] }}</small>{% endif %}</td>

<td><small>East: {{ result['coord_east'] }}, North: {{ result['coord_north'] }}</small></td>

<td>{% if result['mtdna'] %}{{ result['mtdna'] }}{% endif %}</td>

<td>{% if result['genotype_id'] %}<a href="/view_genotype/{{ result['genotype_id'] }}">{{ result['genotype_id'] }}</a>{% endif %}

{% if result['notes'] %}<br><a href="/genotype_note/{{ result['genotype_id'] }}" class="btn btn-sm btn-outline-danger">{{ result['notes'] }}</button>{% endif %}
</td>

<td>{{ result['tmp_id'] }}</td>

<td>{% if result['sex_id'] %}{{ result['sex_id'] }}{% endif %}</td>

<td>{% if result['status'] %}{{ result['status'] }}{% endif %}</td>

<td>{% if result['pack'] %}{{ result['pack'] }}{% endif %}</td>

<td>{% if result['dead_recovery'] %}{{ result['dead_recovery'] }}{% endif %}</td>


{% for locus in loci_values[result['wa_code']] %}

<td style="border-left: 1px solid black; {% if 'OK|' in loci_values[result['wa_code']][locus]['a']['user_id'] %}background: #90ee90{%else%}{% if loci_values[result['wa_code']][locus]['a']['notes'] %}background: #FF6461{%endif%}{%endif%}">
{{ loci_values[result['wa_code']][locus]['a']['value'] }}
<br>
<small>
<a href="/locus_note/{{ result['wa_code']}}/{{ locus }}/a/{{ loci_values[result['wa_code']][locus]['a']['epoch'] }}">note</a>
</small>

</td>

<td {% if 'OK|' in loci_values[result['wa_code']][locus]['b']['user_id'] %}style="background: #90ee90"{%else%}{% if loci_values[result['wa_code']][locus]['b']['notes'] %}style="background: #FF6461"{%endif%}{%endif%}>
{{ loci_values[result['wa_code']][locus]['b']['value'] }}
<br>
<small>
<a href="/locus_note/{{ result['wa_code']}}/{{ locus }}/b/{{ loci_values[result['wa_code']][locus]['b']['epoch'] }}">note</a>
</small>
</td>
{% endfor %}
</tr>
{% endfor %}

</tbody>
</table>
</div><!-- condensed -->
</div><!-- frozen -->

{% else %}

<h2>No WA code found</h2>

{% endif %}



{% endblock %}

