{% extends "bootstrap_no-body.html" %}

{% block content %}
<body onload="scroll_to_wa()"> 
  <script>
  function scroll_to_wa() {
      const element = document.getElementById("{{ view_wa_code }}");
      if (element) {
          element.scrollIntoView();
          }
      }
  </script>
  
<script src="https://unpkg.com/htmx.org@1.9.10"></script>

{% include "menu.html" %}

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/condensed.css') }}" rel="stylesheet">


<h3>{{ title }}</h3>

<div id="wa-panel">
{% include "_wa_panel.html" %}
</div>

{% endblock %}

</body>