{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/new_transect" class="btn btn-primary">New transect</a>

<br>


{% if results %}
<h2>List of transects</h2>
<table class="table table-striped">
<tr>
<th>Transect ID</th>
<th>Sector</th>
<th>place</th>
<th>municipality</th>
<th>Province</th>
<th>Region</th>

</tr>
{% for result in results %}
<tr>

    <td><a href="/view_transect/{{ result['transect_id'] }}">{{ result['transect_id'] }}</a></td>
    <td>{{ result['sector'] }}</td>
    <td>{{ result['place'] }}</td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>
</tr>
{% endfor %}
</table>
{% else %}

<h2>No transect found</h2>

{% endif %}



</div>

</main>



