{% extends "bootstrap.html" %}

{% block content %}




<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/transects" class="btn btn-primary">Transects</a>

<br>
<br>

{% if results %}
<h2>List of {{ n_transects }} transects</h2>


<br>
<a href="/export_transects" class="btn btn-info">Export in XLSX format</a>
<br>
<br>

<style>
    th {
        top: 0;
        position: sticky;
    }
</style>

<table class="table table-striped">
    <tr>
        <th style="background-color: white;">Transect ID</th>
        <th style="background-color: white;">Sector</th>
        <th style="background-color: white;">Location</th>
        <th style="background-color: white;">Municipality</th>
        <th style="background-color: white;">Province</th>
        <th style="background-color: white;">Region</th>

    </tr>
    {% for result in results %}
    <tr>

        <td><a href="/view_transect/{{ result['transect_id'] }}">{{ result['transect_id'] }}</a></td>
        <td>{% if result["sector"] %}{{ result["sector"] }}{%endif%}</td>
        <td>{{ result['location'] }}</td>
        <td>{{ result['municipality'] }}</td>
        <td>{{ result['province'] }}</td>
        <td>{{ result['region'] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}

<h2>No transect found</h2>

{% endif %}


{% endblock %}