{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;
<a href="/transects" class="btn btn-primary">Transects</a>

<br>
<br>

{% if transect['transect_id'] %}

<h2>transect ID: <b>{{ transect["transect_id"] }}</b></h2>

<a href="/edit_transect/{{ transect['transect_id'] }}" class="btn btn-danger">Edit transect</a>
<br>
<br>
<table class="table table-striped">

    <tr>
        <td>Sector</td>
        <td>{{ transect["sector"] if transect["sector"] is not none else ""}}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{ transect["location"] }}</td>
    </tr>
    <tr>
        <td>Municipality</td>
        <td>{{ transect["municipality"] }}</td>
    </tr>
    <tr>
        <td>Province</td>
        <td>{{ transect["province"] }}</td>
    </tr>
    <tr>
        <td>Region</td>
        <td>{{ transect["region"] }}</td>
    </tr>
    <tr>
        <td>Transect length (m)</td>
        <td>{{ transect["transect_length"] if transect["transect_length"] is not none else ""}}</td>
    </tr>

</table>

<br><br>

<h2>Paths</h2>

{% if paths %}
<table class="table table-striped">
    <tr>
        <th>Path ID</th>
        <th>Date</th>
        <th>Sampling season</th>
        <th>Completeness (%)</th>
        <th>N. samples</th>
        <th>Operator</th>
        <th>Institution</th>
        <th>Note</th>
    </tr>

    {% for path in paths %}

    <tr>
        <td><a href="/view_path/{{ path['path_id'] }}">{{ path["path_id"] }}</a></td>
        <td>{{ path['date'] }}</td>
        <td>{{ path['sampling_season'] }}</td>
        <td>{{ path['completeness'] }}</td>
        <td>{{ path['n_scats'] }}</td>
        <td>{% if path['observer'] %}{{ path['observer'] }}{%endif%}</td>
        <td>{% if path['institution'] %}{{ path['institution'] }}{%endif%}</td>
        <td>{{ path['note'] }}</td>
    </tr>

    {% endfor %}

    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ n_scats }}</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>

</table>
{% else %}
No paths found
{% endif %}





<h2>Snow tracking</h2>

{% if snowtracks %}
<table class="table table-striped">
    <tr>
        <th>snow-tracking ID</th>
        <th>Date</th>
        <th>Sampling season</th>
        <th>Coordinates</th>
        <th>Location</th>
        <th>Municipality</th>
        <th>Province</th>
        <th>Region</th>
        <th>Operator</th>
        <th>Scalp category</th>
        <th>Sampling type</th>
        <th>Days after snowfall</th>
        <th>Minimum number of wolves</th>
        <th>Track format</th>
        <th>Notes</th>
    </tr>


    {% for snowtrack in snowtracks %}

    <tr>

        <td><a href="/view_snowtrack/{{ snowtrack['snowtrack_id'] }}">{{ snowtrack['snowtrack_id'] }}</a></td>
        <td>{{ snowtrack['date'] }}</td>
        <td>{{ snowtrack['sampling_season'] }}</td>
        <td>{% if snowtrack['multilines'] is not none %}Yes{% else %}No{% endif %}</td>
        <td>{{ snowtrack['location'] }}</td>
        <td>{{ snowtrack['municipality'] }}</td>
        <td>{{ snowtrack['province'] }}</td>
        <td>{{ snowtrack['region'] }}</td>
        <td>{{ snowtrack['observer'] }}</td>
        <td>{{ snowtrack['scalp_category'] }}</td>
        <td>{{ snowtrack['sampling_type'] }}</td>
        <td>{{ snowtrack['days_after_snowfall'] }}</td>
        <td>{{ snowtrack['minimum_number_of_wolves'] }}</td>
        <td>{{ snowtrack['track_format'] }}</td>
        <td>{{ snowtrack['note'] }}</td>


    </tr>

    {% endfor %}
</table>
{% else %}
No snow tracks found
{% endif %}

<h2>Map</h2>
<div id="map" style="width: 1200px; height: 600px;"></div>

{{ map }}

{% include 'legend.html' %}

{% else %}

Transect ID <b>{{transect_id}}</b> not found

{% endif %}

{% endblock %}