{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB - Administration page</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>

<br><br>


Mode: <b>{{mode}}</b><br>



{% with messages = get_flashed_messages() %}
<br>
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}

<br>
<br>
<a href="/update_redis_genotypes" class="btn btn-primary">Update genotype Redis cache with loci values</a>

<br>
<br>
<a href="/update_redis_wa" class="btn btn-primary">Update WA Redis cache with loci values</a>




{% if mode == 'dev' %}


<a href="/delete_scats" class="btn btn-primary">Empty scats table</a>
<br>

<a href="/delete_paths" class="btn btn-primary">Empty paths table</a>

{% endif %}


{% endblock %}

