{% extends "bootstrap.html" %}

{% block content %}

<h1>Administration page</h1>
<hr>

{% with messages = get_flashed_messages() %}
<br>
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}
<br>
<br>


<h3>Web service info</h3>

Mode: <b>{{mode}}</b><br>
Debug: <b>{{ debug }}</b>
<br>
<br>
<hr>
<h3>Redis cache</h3>


<a href="/update_redis" class="btn btn-primary">Update Redis with WA and genotypes loci loci values</a>

<br>
<br>
<a href="/update_redis_genotypes" class="btn btn-primary">Update genotype Redis cache with loci values</a>

<br>
<br>
<a href="/update_redis_wa" class="btn btn-primary">Update WA Redis cache with loci values</a>


<hr>
<h3>List of users</h3>
<table class="table table-striped">
<tr><th>email</th><th>Institution</th><th>role</th><th>allele modifier</th></tr>
{% for user in users %}

<tr><td>{{ user.email }}</td><td>{{ user.institution }}</td><td>{{ user.role }}</td><td>{{ user.allele_modifier }}</td></tr>

{% endfor %}
</table>

{% if mode == 'dev' %}

<br><br>


<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dev mode</h5>
      <p class="card-text">



        <a href="/delete_scats" class="btn btn-primary">Empty scats table</a>
        <br>
        <br>
        <a href="/delete_paths" class="btn btn-primary">Empty paths table</a>
        

      </p>
      
    </div>
  </div>


{% endif %}


{% endblock %}

