{% extends "bootstrap.html" %}

{% block content %}

<h1>Administration page</h1>
<hr>



Mode: <b>{{mode}}</b><br>

Debug: <b>{{ debug }}</b>



{% with messages = get_flashed_messages() %}
<br>
{% if messages %}
{{ messages[0] }}
{% endif %}
{% endwith %}

<br>
<br>
<a href="/update_redis_genotypes" class="btn btn-primary">Update genotype Redis cache with loci values</a>

<br>
<br>
<a href="/update_redis_wa" class="btn btn-primary">Update WA Redis cache with loci values</a>




{% if mode == 'dev' %}

<br><br>


<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dev mode</h5>
      <p class="card-text">



        <a href="/delete_scats" class="btn btn-primary">Empty scats table</a>
        <br>
        <br>
        <a href="/delete_paths" class="btn btn-primary">Empty paths table</a>
        

      </p>
      
    </div>
  </div>


{% endif %}


{% endblock %}

