<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="https://www.unito.it/sites/default/files/favicon.png" type="image/png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WolfAlps DB">
<meta name="author" content="Olivier Friard">

<title>WolfDB</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<style>
main > .container {
padding: 60px 15px 0;
padding-bottom: 50px;
}

{% include "dev_style.html" %}
</style>
</head>

