{% extends "bootstrap.html" %}


{% block content %}


<h1>WolfDB {% if mode == 'dev' %} - TEST{%endif%}</h1>
<hr>


{% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ messages[0] }}
        {% endif %}
        {% endwith %}

<br>



<a href="/scats" class="btn btn-primary">Scats</a>
<br>
<br>
<a href="/paths" class="btn btn-primary">Paths</a>
<br>
<br>
<a href="/snow_tracks" class="btn btn-primary">Tracks</a>
<br>
<br>

<a href="/transects" class="btn btn-primary">Transects</a>

<br>
<br>

<a href="/wa_genetic_samples" class="btn btn-primary">WA genetic samples</a>


<br>
<br>

<a href="/genotypes" class="btn btn-primary">Genotypes</a>


<br>
<br>

<a href="/dead_wolves" class="btn btn-primary">Dead wolves</a>


{% if mode == 'dev' %}

<br><br>

<h2>DB administration</h2>

<a href="/delete_scats" class="btn btn-primary">Empty scats table</a>


<a href="/delete_paths" class="btn btn-primary">Empty paths table</a>

{% endif %}




{% endblock %}
