{% include "header.html" %}
<body>

<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB {% if mode == 'dev' %} - TEST{%endif%}</h1>
<hr>







<a href="/scats" class="btn btn-primary">Scats</a>
<br>
<br>
<a href="/paths" class="btn btn-primary">Paths</a>
<br>
<br>
<a href="/snow_tracks" class="btn btn-primary">Tracks</a>
<br>
<br>

<a href="/transects" class="btn btn-primary">Transects</a>

<br>
<br>

<a href="/genetic_samples" class="btn btn-primary">Genetic samples</a>


<br>
<br>

<a href="/dead_wolves" class="btn btn-primary">Dead wolves</a>


{% if mode == 'dev' %}

<br><br>

<h2>DB administration</h2>

<a href="/delete_scats" class="btn btn-primary">Empty scats table</a>


<a href="/delete_paths" class="btn btn-primary">Empty paths table</a>

{% endif %}



</div>

</main>


</body>
</html>