<svg width="500" height="170">

<circle cx="12" cy="20" r="10" stroke="{{ scat_color }}" stroke-width="0" fill="{{ scat_color }}" />
<text fill="#000000" font-size="20" font-family="Helvetica" x="50" y="27">Scat sample</text>

<circle cx="12" cy="60" r="10" stroke="{{ dead_wolf_color }}" stroke-width="0" fill="{{ dead_wolf_color }}" />
<text  fill="#000000" font-size="20" font-family="Helvetica" x="50" y="67">Dead wolf</text>

<rect x="0" y="100" width="30" height="5" style="fill:{{ transect_color }}; stroke-width:0; stroke:{{ transect_color }}" />
<text  fill="#000000" font-size="20" font-family="Helvetica" x="50" y="107">Transect</text>


<rect x="0" y="140" width="30" height="5" style="fill:{{ track_color }}; stroke-width:0; stroke:{{ track_color }}" />
<text  fill="#000000" font-size="20" font-family="Helvetica" x="50" y="147">Track</text>


</svg>

