{% include "header.html" %}
<main class="flex-shrink-0">
<div class="container">

<h1>{{ title }}</h1>
<hr>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


<form method="POST" action="/new_scat">


    <div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.scat_id.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.scat_id(size=30, class="form-control",  value=default_values["scat_id"]) }}
    {% for message in form.scat_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    
    </div></div>
</div>
    

<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.date.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.date(size=16, class="form-control", value=default_values["date"]) }}
    {% for message in form.date.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    <span class="form-text">Allowed formats: YYYY, YYYY-MM, YYYY-MM-DD</span>

</div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.sampling_year.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.sampling_year(size=16, class="form-control", value=default_values["sampling_year"]) }}
    {% for message in form.sampling_year.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    <span class="form-text">Allowed formats: YYYY-YYYY</span>

</div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.sampling_type.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.sampling_type(class="form-control", value=default_values["sampling_type"]) }}
    {% for message in form.sampling_type.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.transect_id.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.transect_id(class="form-control") }}
    {% for message in form.transect_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.snowtrack_id.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.snowtrack_id(class="form-control", value=default_values["snowtrack_id"]) }}
    {% for message in form.snowtrack_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
<div class="row g-3 align-items-top">

    <div class="col-2">{{ form.localita.label }}</div>
    <div class="col-3">
    {{ form.localita(size=16, class="form-control", value=default_values["localita"]) }}
    {% for message in form.localita.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>

    <div class="col-1">{{ form.comune.label }}</div>
    <div class="col-2">
        {{ form.comune(size=16, class="form-control", value=default_values["comune"]) }}
        {% for message in form.comune.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>


    <div class="col-1">{{ form.provincia.label }}</div>
    <div class="col-1">
        {{ form.provincia(size=16, class="form-control", value=default_values["provincia"]) }}
        {% for message in form.provincia.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>

</div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.deposition.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.deposition(class="form-control",  value=default_values["deposition"]) }}
    {% for message in form.deposition.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.matrix.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.matrix(class="form-control",  value=default_values["matrix"]) }}
    {% for message in form.matrix.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.collected_scat.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.collected_scat(class="form-control",  value=default_values["collected_scat"]) }}
    {% for message in form.collected_scat.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top">
    <div class="col-2">{{ form.coord_east.label }}</div>
    <div class="col-3">
    {{ form.coord_east(class="form-control",  value=default_values["coord_east"]) }}
    {% for message in form.coord_east.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div>

    <div class="col-2">{{ form.coord_north.label }} </div>

    <div class="col-3">
        {{ form.coord_north(class="form-control",  value=default_values["coord_north"]) }}
        {% for message in form.coord_north.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
        </div>
    

    </div>
</div>



<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.rilevatore_ente.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.rilevatore_ente(class="form-control",  value=default_values["rilevatore_ente"]) }}
    {% for message in form.rilevatore_ente.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.scalp_category.label }} 
    </div><!-- col --><div class="col-8">
    {{ form.scalp_category(class="form-control",  value=default_values["scalp_category"]) }}
    {% for message in form.scalp_category.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>


<button type="submit" class="btn btn-primary" >Submit</button>
</form>





</div>

</main>
