{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/new_path" class="btn btn-primary">New path</a>


<br>
<br>


{% if results %}
<h2>List of paths</h2>
<table class="table table-striped">
<tr>
<th>Path ID</th>
<th>Transect ID</th>
<th>Date</th>
<th>Sampling year</th>
<th>Completeness</th>
<th>Numero segni trovati</th>
<th>numero campioni</th>
<th>operatore</th>
<th>note</th>
</tr>
{% for result in results %}
<tr>
<td><a href="/view_path/{{ result['path_id'] }}">{{ result['transect_id'] }} {{ result['date'] }}</a></td>
    <td><a href="/view_transect/{{ result['transect_id'] }}">{{ result['transect_id'] }}</a></td>
    <td>{{ result['date'] }}</td>
    <td>{{ result['sampling_season'] }}</td>
    <td>{{ result['completeness'] }} %</td>
    <td>{{ result['numero_segni_trovati'] }}</td>
    <td>{{ result['numero_campioni'] }}</td>
    <td>{{ result['operatore'] }}</td>
    <td>{{ result['note'] }}</td>

</tr>
{% endfor %}
</table>
{% else %}

<h2>No path found</h2>

{% endif %}



</div>

</main>





