{% extends "bootstrap.html" %}

{% block content %}



<h2>Settings for {{ session['user_name'] }}</h2>

<h3>{{ session['email'] }}</h3>



<form id="settings" action="/settings"  method="POST" enctype="multipart/form-data">

<br>
<div class="form-group">


<h4>Date interval</h4>


<input class="form-check-input" type="checkbox" value="" id="enable_date_interval" name="enable_date_interval"  
{% if session["start_date"] != default_start_date or session["end_date"] != default_end_date %}checked{% endif %}>
<label class="form-check-label" for="enable_date_interval">
Enable time interval for visualization
</label>
<br><br>

<label for="start_date">Start date</label>
<input type="text" id="start_date" placeholder="YYYY-MM-DD" name="start_date" value="{{session['start_date']}}" 
{% if session["start_date"] == default_start_date and session["end_date"] == default_end_date %}disabled{% endif %}>
<small>Use YYYY-MM-DD format</small>
<br>

<label for="end_date">End date</label>
<input type="text" id="end_date" placeholder="YYYY-MM-DD" name="end_date" value="{{session['end_date']}}" 
{% if session["start_date"] == default_start_date and session["end_date"] == default_end_date %}disabled{% endif %}>
<small>Use YYYY-MM-DD format</small>
</div>
<br>

<button type="submit" class="btn btn-danger" id="submit-btn" type="button">Save</button>

</form>

<script>
const checkbox = document.getElementById('enable_date_interval')

checkbox.addEventListener('change', (event) => {
  if (event.currentTarget.checked) {
    document.getElementById('start_date').disabled = false;
    document.getElementById('end_date').disabled = false;
  } else {
    document.getElementById('start_date').disabled = true;
    document.getElementById('end_date').disabled = true;

}
})
</script>

{% endblock %}

