{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/transects_list" class="btn btn-primary">Transects</a>
<br>



<h2>transect ID: <b>{{ transect["transect_id"] }}</b></h2>

<a href="/edit_transect/{{ transect['transect_id'] }}" class="btn btn-danger">Edit transect</a>

<table class="table table-striped">

<tr><td>Sector</td><td>{{ transect["sector"] }}</td></tr>
<tr><td>Localita</td><td>{{ transect["localita"] }}</td></tr>
<tr><td>Comune</td><td>{{ transect["comune"] }}</td></tr>
<tr><td>Provincia</td><td>{{ transect["provincia"] }}</td></tr>
<tr><td>Regione</td><td>{{ transect["regione"] }}</td></tr>

</table>

<h2>Paths</h2>


{% if paths %}
<table class="table table-striped">
    <tr>
        <th>Path ID</th>
        <th>Date</th>
        <th>Sampling season</th>
        <th>completeness</th>
        <th>numero_segni_trovati</th>
        <th>numero_campioni</th>
        <th>operatore</th>
        <th>note</th>
        </tr>
        
{% for path in paths %}

<tr>
<td><a href="/view_path/{{ path['path_id'] }}">{{ path['path_id'] }}</a></td>
<td>{{ path['date'] }}</td>
<td>{{ path['sampling_season'] }}</td>
<td>{{ path['completeness'] }}</td>
<td>{{ path['numero_segni_trovati'] }}</td>
<td>{{ path['numero_campioni'] }}</td>
<td>{{ path['operatore'] }}</td>
<td>{{ path['note'] }}</td>
</tr>

{% endfor %}
</table>
{% else %}
No paths found
{% endif %}


<h2>Snow tracking</h2>

{% if snowtracks %}
<table class="table table-striped">
    <tr>
        <th>snow-tracking ID</th>
        <th>Date</th>
        <th>Sampling season</th>
        <th>Comune</th>
        <th>provincia</th>
        <th>regione</th>
        <th>rilevatore</th>
        <th>scalp category</th>
        <th>systematic sampling</th>
        <th>giorni dopo nevicata</th>
        <th>numero minimo di individui</th>
        <th>track format</th>
        </tr>
        
{% for snowtrack in snowtracks %}

<tr>

    <td><a href="/view_snowtrack/{{ snowtrack['snowtrack_id'] }}">{{ snowtrack['snowtrack_id'] }}</a></td>
    <td>{{ snowtrack['date'] }}</td>
    <td>{{ snowtrack['sampling_season'] }}</td>
    <td>{{ snowtrack['comune'] }}</td>
    <td>{{ snowtrack['provincia'] }}</td>
    <td>{{ snowtrack['regione'] }}</td>
    <td>{{ snowtrack['rilevatore'] }}</td>
    <td>{{ snowtrack['scalp_category'] }}</td>
    <td>{{ snowtrack['systematic_sampling'] }}</td>
    <td>{{ snowtrack['giorni_dopo_nevicata'] }}</td>
    <td>{{ snowtrack['n_minimo_individui'] }}</td>
    <td>{{ snowtrack['track_format'] }}</td>


</tr>

{% endfor %}
</table>
{% else %}
No snow tracks found
{% endif %}


</div>
</main>







