{% extends "bootstrap_simple.html" %}

{% block content %}

<h4>{{ title }}

    <div class="btn-group dropend">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Distance: {{ distance }} m
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/plot_wa_clusters/100">100 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/250">250 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/500">500 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/750">750 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/1000">1000 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/2000">2000 m</a></li>
          <li><a class="dropdown-item" href="/plot_wa_clusters/2500">2500 m</a></li>
        </ul>
      </div>

</h4>

<small>DBSCAN minpoint={{ minpoint }} number of clusters={{ clusters_number }}</small>

{% if session['start_year'] and session['end_year'] %}Analysis date interval: <strong>{{ session['start_year']}}</strong> - <strong>{{session['end_year']}}</strong><br><br>{% endif %}



<style>
#map {
position: relative;
height: 1000px;
width: 100%;
}
</style>

<div class="col-md-12">
<div id="map" ></div>
</div>

{{ map }}


{% endblock %}






