{% include "header.html" %}


<main class="flex-shrink-0">

<div class="container">


<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;

<a href="/new_dead_wolf" class="btn btn-primary">new dead wolf</a>

<br>


{% if results %}
<h2>List of dead wolves</h2>
<table class="table table-striped">
<tr>
<th>Tissue ID</th>
<th>municipality</th>
<th>Province</th>
<th>Region</th>

</tr>
{% for result in results %}
<tr>

    <td><a href="/view_dead_wolf/{{ result['tissue_id'] }}">{{ result['tissue_id'] }}</a></td>
    <td>{{ result['municipality'] }}</td>
    <td>{{ result['province'] }}</td>
    <td>{{ result['region'] }}</td>
</tr>
{% endfor %}
</table>
{% else %}

<h2>No dead wolf found</h2>

{% endif %}



</div>

</main>



