{% extends "bootstrap.html" %}

{% block content %}

    <h1>WolfDB</h1>
    <hr>

    <a href="/" class="btn btn-primary">Home</a>&nbsp;
    <a href="/transects_list" class="btn btn-primary">Transects</a>


    <br><br>



<h2>{{ title }}</h2>
<hr>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


<form method="POST" action="{{ action }}">


    <div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.transect_id.label }}
    </div><!-- col --><div class="col-8">
    {{ form.transect_id(size=30, class="form-control",  value=default_values["transect_id"]) }}
    {% for message in form.transect_id.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

    </div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.sector.label }}
    </div><!-- col --><div class="col-8">
    {{ form.sector(size=16, class="form-control", value=default_values["sector"]) }}
    {% for message in form.sector.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

</div></div>
</div>


<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.location.label }}
    </div><!-- col --><div class="col-8">
    {{ form.location(size=16, class="form-control", value=default_values["location"]) }}
    {% for message in form.location.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}

</div></div>
</div>

<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.municipality.label }}
    </div><!-- col --><div class="col-8">
    {{ form.municipality(size=16, class="form-control", value=default_values["municipality"]) }}
    {% for message in form.municipality.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>

<div class="mb-3">
    <div class="row g-3 align-items-top"><div class="col-2">{{ form.province.label }}
    </div><!-- col --><div class="col-8">
    {{ form.province(class="form-control", value=default_values["province"]) }}
    {% for message in form.province.errors %}<div style="color:#ff0000;">{{ message }}</div>{% endfor %}
    </div></div>
</div>






<button type="submit" class="btn btn-primary" >Submit</button>
</form>



{% endblock %}