{% extends "bootstrap.html" %}

{% block content %}



<h2>Dead wolf <b>#{{ dead_wolf["id"] }}</b></h2>


<a href="/edit_dead_wolf/{{ dead_wolf["id"] }}" class="btn btn-danger">Edit dead wolf</a>&nbsp;

<a href="/del_dead_wolf/{{ dead_wolf["id"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete dead wolf</a><br>
<br>

<table class="table table-striped">

<tr><td>Dead wolf ID</td><td><a href="/view_wa/{{ dead_wolf['id'] }}">{{ dead_wolf["id"] }}</a></td></tr>
<tr><td>Genotype ID</td><td><a href="/view_genotype/{{ dead_wolf['genotype_id'] }}">{{ dead_wolf["genotype_id"] }}</a></td></tr>
<tr><td>WA code</td><td><a href="/view_wa/{{ dead_wolf['wa_code'] }}">{{ dead_wolf["wa_code"] }}</a></td></tr>
<tr><td>Tissue ID</td><td><a href="/view_tissue/{{ dead_wolf['tissue_id'] }}">{{ dead_wolf["tissue_id"] }}</a></td></tr>



<tr><td>Location</td><td>{{ dead_wolf["location"] if dead_wolf["location"] else ""}}</td></tr>
<tr><td>Municipality</td><td>{{ dead_wolf["municipality"] if dead_wolf["municipality"] else ""}}</td></tr>
<tr><td>Province</td><td>{{ dead_wolf["province"] if dead_wolf["province"] else ""}}</td></tr>
<tr><td>Region</td><td>  {{ dead_wolf["region"] if dead_wolf["region"] else ""}}</td></tr>


<tr><td>Coordinates (WGS 84 / UTM zone {{ dead_wolf["utm_zone"] }} EPSG:32632)</td>
<td>
{% if dead_wolf["utm_east"] and dead_wolf["utm_north"] %}
East: {{ dead_wolf["utm_east"] }}, North: {{ dead_wolf["utm_north"] }}
{% endif %}
</td>
</tr>


</table>

<hr>

<br>

<table class="table table-striped">

{% for field in fields_list %}

{% if field["name"] != 'ID' and field["name"] != 'Tissue ID' and field["name"] != 'Genotype ID' and field["name"] != 'WA'%}

<tr><td>{{ field["name"] }}</td><td>{{ dead_wolf_values[field["name"]] if dead_wolf_values[field["name"]] is not none else "" }}</td></tr>

{%endif%}

{% endfor %}

</table>

{% if dead_wolf['geonetry_utm'] %}
<h2>Location</h2>
<div id="map" style="width: 800px; height: 800px;"></div>
{{ map }}
{%endif%}


{% endblock %}






