{% extends "bootstrap.html" %}

{% block content %}

<h1>WolfDB</h1>
<hr>

<a href="/" class="btn btn-primary">Home</a>&nbsp;
<a href="/dead_wolves_list2" class="btn btn-primary">Dead wolves</a>

<br>
<br>


<h2>Dead wolf <b>#{{ dead_wolf["ID"] }}</b></h2>


<a href="/edit_dead_wolf/{{ dead_wolf["ID"] }}" class="btn btn-danger">Edit dead wolf</a>&nbsp;

<a href="/del_dead_wolf/{{ dead_wolf["ID"] }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete dead wolf</a><br>
<br>

<table class="table table-striped">

<tr><td>ID</td><td><a href="/view_wa/{{ dead_wolf["ID"] }}">{{ dead_wolf["ID"] }}</a></td></tr>
<tr><td>WA code</td><td><a href="/view_wa/{{ dead_wolf["WA"] }}">{{ dead_wolf["WA"] }}</a></td></tr>
<tr><td>Genotype ID</td><td><a href="/view_genotype/{{ dead_wolf["Genotype ID"] }}">{{ dead_wolf["Genotype ID"] }}</a></td></tr>
<tr><td>Tissue ID</td><td><a href="/view_tissue/{{ dead_wolf["Tissue ID"] }}">{{ dead_wolf["Tissue ID"] }}</a></td></tr>


{% for field in fields_list %}

{% if field["name"] != 'ID' and field["name"] != 'Tissue ID' and field["name"] != 'Genotype ID' and field["name"] != 'WA'%}

<tr><td>{{ field["name"] }}</td><td>{{ dead_wolf[field["name"]] if dead_wolf[field["name"]] is not none else "" }}</td></tr>

{%endif%}

{% endfor %}

</table>


<h2>Map</h2>


<div id="map" style="width: 800px; height: 800px;"></div>



{{ map }}



{% endblock %}






